﻿@model WAP_CMS.Models.Game

@{
    var i = 0;
    ViewBag.Title = "Game details";
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>Details</h5>
                        </div>

                        <div class="well-content no-search">
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.LastModified)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.LastModified)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Name)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>
                            
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.GameMappings)
                                </label>
                                    
                                <div class="field custom-field">
                                    @foreach (var zz in Model.GameMappings)
                                    {
                                        if (i == 0) {
                                            @Html.DisplayFor(zzz => zz.GameCategory.Name)
                                        }
                                        else
                                        { 
                                            @Html.Raw(", ")
                                            @Html.DisplayFor(zzz => zz.GameCategory.Name)
                                        }
                                        
                                        i++;
                                    }
                                </div>
                            </div> 
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name-for-large-area detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Description)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Seller)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Seller)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.View)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.View)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Download)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Download)
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name-for-large-area detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.ImageURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.ImageURL)

                                    <div style="margin-top:5px;">
                                        <img src="@ViewBag.MediaSourcePath@Html.DisplayFor(model => model.ImageURL)" style="height:100px;" alt="@Html.DisplayFor(model => model.ImageURL)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.AndroidAppURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.AndroidAppURL)

                                    @if (@Model.AndroidAppURL != null) {
                                        @Html.DisplayFor(model => model.AndroidAppSizeString)
                                    }
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.iOSAppURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.iOSAppURL)

                                    @if (@Model.iOSAppURL != null) {
                                        @Html.DisplayFor(model => model.iOSAppSizeString)
                                    }
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.JavaAppURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.JavaAppURL)

                                    @if (@Model.JavaAppURL != null) {
                                        @Html.DisplayFor(model => model.JavaAppSizeString)
                                    }
                                </div>
                            </div>

                            <div class="form_row">
                                <div class="field action-field">
                                    <a href="@Url.Action("Edit", "Game", new { id = @Model.Id })" class="grey btn custom-a-btn">Edit</a>
                                    <a href="@Url.Action("Index", "Game")" class="red btn custom-a-btn">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>