﻿@model WAP_CMS.Models.TBL_Game

@{
    ViewBag.Title = "Edit game";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>
                                @if (TempData["MESSAGE"] != null && TempData["MESSAGE"].ToString().Length > 0)
                                {
                                    <font style="color: red; font-weight: bold;">@TempData["MESSAGE"]</font>
                                }
                            </h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm("Edit", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)
                                
                                @Html.HiddenFor(model => model.row_id)
                                @Html.HiddenFor(model => model.register_person)
                                @Html.HiddenFor(model => model.register_datetime)
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        Category
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxListFor(model => model.PostedCategoryRowIds,
                                                              model => model.allCategories,
                                                              model => model.row_id,
                                                              model => model.category_name,
                                                              model => model.categories,
                                                              Position.Horizontal)
                                    </div>
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.name, new { @class = "span5" })
                                    </div>

                                    @Html.ValidationMessageFor(model => model.name)
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable)
                                    </div>
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.producer)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.producer, new { @class = "span5" })
                                    </div>
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.short_description)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextAreaFor(model => model.short_description, new { style = "width: 100%; height: 100px" })
                                    </div>

                                    <div class="field custom-field">
                                        @Html.ValidationMessageFor(model => model.short_description)
                                    </div>
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.description)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="well-content no-search">
                                            @Html.TextAreaFor(model => model.description, new { style = "width: 100%; height: 300px", @class = "textarea", placeholder = "Enter text..." })
                                        </div>
                                    </div>

                                    <div class="field custom-field">
                                        @Html.ValidationMessageFor(model => model.description)
                                    </div>
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.img)

                                        @Html.HiddenFor(model => model.img)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                          <div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
                                            @if (string.IsNullOrEmpty(Model.img))
                                            {
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                                            }
                                            else
                                            {
                                                <img src="@Model.ImgPath" alt="" />                                      
                                            }
                                           </div>
                                          <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                          <div>
                                            <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="Image" /></span>
                                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                          </div>
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.img)
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.androidappurl)

                                        @Html.HiddenFor(model => model.androidappurl)
                                        @Html.HiddenFor(model => model.androidappsize)
                                    </label>
                                    
                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.androidappurl)
                                                    </span>
                                                </div>
                                                
                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="AndroidApp" />
                                                </span>
                                                
                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.androidappurl))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.AndroidappurlPath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.androidappurl)
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.iosappurl)

                                        @Html.HiddenFor(model => model.iosappurl)
                                        @Html.HiddenFor(model => model.iosappsize)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.iosappurl)
                                                    </span>
                                                </div>
                                                
                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="iOSApp" />
                                                </span>
                                                
                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.iosappurl))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.IosappurlPath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.iosappurl)
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.javaappurl)

                                        @Html.HiddenFor(model => model.javaappurl)
                                        @Html.HiddenFor(model => model.javaappsize)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.javaappurl)
                                                    </span>
                                                </div>
                                                
                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="JavaApp" />
                                                </span>
                                                
                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.javaappurl))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.JavaappurlPath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.javaappurl)
                                </div>
                                    
                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Update" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "Game")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Translation</h5>

                            <div class="float_right" style="margin-top: 10px; margin-right: 5px">
                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id,0)" class="blue btn btn-small">
                                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                                    Add Translation
                                </a>
                            </div>
                        </div>

                        <div class="well-content no-search">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                            
                                        <td>Language</td>
                                        <td>Game</td>
                                        <td>Active</td>
                                        <td class="last-column">&nbsp;</td>
                                        <td class="last-column">&nbsp;</td>
                                    </tr>
                                </thead>

                                <tbody id="tblGameCategory">
                                    @foreach (var item in ViewBag.TranGames)
                                    {
                                        <tr>
                                            <td>@item.language_name</td>
                                            <td width="26%">@item.name</td>
                                            
                                            <td class="action-column">
                                                @if (item.status == 1)
                                                {
                                                    @:Yes    
                                                }
                                                else
                                                {
                                                    @:No
                                                }
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id, @item.language_id)" class="grey btn action-btn">
                                                    <i class="icon-edit"></i> Edit
                                                </a>
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowDeleteTranslationDialog(@item.language_id)"  role="button" class="btn red delete-btn action-btn" data-toggle="modal">
                                                    <i class="icon-remove-sign"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteTranslationDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-body">
            <p>Are you sure want to delete this translation ?</p>

            <input type="hidden" id="delTranGameLanguage" />
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
            <input type="button" class="btn red" value="Yes" onclick="DeleteTranslation()" />
        </div>
</div>


<div id="TranSlationDlg" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3>Translation</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            @using (Html.BeginForm("TranGame", "Game"))
            {
                <div class="span12" id="TranSlationFormContainer">
                    <div class="form_row">
                        <label class="field_name custom-field_name-for-large-area">
                            Language
                        </label>
                        <div class="field">
                            @Html.DropDownList("language_row_id", (SelectList)ViewBag.languages)
                        </div>
                    </div>

                     
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">Close</a>
        <a href="#" onclick="SaveTranslation()" class="btn red">Save changes</a>
    </div>
</div>

<script type="text/javascript">
    function ShowTranslationDialog(id, langId) {
        jQuery.ajax({
            // Call EditPartialView action method
            url: "/Game/TranGame",
            data: { gameid: id, lang: langId },
            type: 'Get',
            success: function (msg) {
                if (langId > 0) {
                    jQuery('#language_row_id').val(langId);
                }
                jQuery('.tran_game').remove();

                jQuery('#TranSlationFormContainer').append(msg);

                jQuery("#tran_game_description").wysihtml5();

                jQuery('#TranSlationDlg').modal('show');
            },
            error: function () {
                alert("Error occurs! Please try again or contact support for more information");
            }
        });
    }

    function SaveTranslation() {
        if (jQuery.trim(jQuery('#tran_game_name').val()).length > 0 && jQuery.trim(jQuery('#tran_game_short_description').val()).length > 0) {
            jQuery.post('/Game/TranGame'
                    , {
                        "row_id": jQuery('#tran_game_row_id').val()
                        , "register_person": jQuery('#tran_game_register_person').val()
                        , "register_datetime": jQuery('#tran_game_register_datetime').val()
                        , "name": jQuery('#tran_game_name').val()
                        , "producer": jQuery('#tran_game_producer').val()
                        , "short_description": jQuery('#tran_game_short_description').val()
                        , "description": jQuery('#tran_game_description').data("wysihtml5").editor.getValue()
                        , "Enable": jQuery('#tran_game_enable').is(':checked')
                        , "language_id": jQuery('#language_row_id').val()
                        , "game_row_id": "@Model.row_id"
                    }
                   , function (data) {
                       var tblGameCategory = jQuery("#tblGameCategory");
                       tblGameCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblGameCategory.append(t);
                       }

                       jQuery('#TranSlationDlg').modal('hide');
                   }
                   , "json");
        }
        else {
            if (jQuery.trim(jQuery('#tran_game_name').val()).length == 0) {
                jQuery('#tranGameErrorMessage').show();

                jQuery('#tran_game_name').keyup(function () { jQuery('#tranGameErrorMessage').hide(); });
            }

            if (jQuery.trim(jQuery('#tran_game_short_description').val()).length == 0) {
                jQuery('#tranGameShortDescriptionErrorMessage').show();

                jQuery('#tran_game_short_description').keyup(function () { jQuery('#tranGameShortDescriptionErrorMessage').hide(); });
            }
        }
    }

    function ShowDeleteTranslationDialog(langId) {
        jQuery("#delTranGameLanguage").val(langId);

        jQuery('#DeleteTranslationDlg').modal('show');
    }

    function DeleteTranslation() {

        jQuery.post('/Game/DeleteTranGame'
                    , {
                        "gameid": "@Model.row_id"
                        , "langId": jQuery('#delTranGameLanguage').val()
                    }
                   , function (data) {
                       var tblGameCategory = jQuery("#tblGameCategory");
                       tblGameCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblGameCategory.append(t);
                       }

                       jQuery('#DeleteTranslationDlg').modal('hide');
                   }
                   , "json");

    }
</script>
