﻿@model   WAP_CMS.Models.TBL_Tran_Game


<div class="form_row tran_game">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.name)
    </label>
    <div class="field">
        @Html.TextBoxFor(model => model.name, new { id = "tran_game_name", onkeydown = "return (event.keyCode!=13);" })

        <span id="tranGameErrorMessage" style="color: red; display: none">You must translate game name</span>
    </div>
</div>

<div class="form_row tran_game">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.Enable)
    </label>

    <div class="field custom-field">
        @Html.CheckBoxFor(model => model.Enable, new { id = "tran_game_enable", @checked = true })

        @Html.HiddenFor(model => model.row_id, new { id = "tran_game_row_id"})
        @Html.HiddenFor(model => model.register_person, new { id = "tran_game_register_person"})
        @Html.HiddenFor(model => model.register_datetime, new { id = "tran_game_register_datetime"})
    </div>
</div>

<div class="form_row tran_game">
    <label class="field_name custom-field_name">
        @Html.LabelFor(model => model.producer)
    </label>

    <div class="field custom-field">
        @Html.TextBoxFor(model => model.producer, new { id = "tran_game_producer", onkeydown = "return (event.keyCode!=13);" })
    </div>
</div>

<div class="form_row tran_game">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.short_description)
    </label>

    <div class="field custom-field">
        @Html.TextAreaFor(model => model.short_description, new { id = "tran_game_short_description", style = "width: 100%; height: 50px" })
    </div>

    <span id="tranGameShortDescriptionErrorMessage" style="color: red; display: none">You must translate short description</span>
</div>


<div class="form_row tran_game">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.description)
    </label>

    <div class="field custom-field">
        @Html.TextAreaFor(model => model.description, new { id = "tran_game_description", style = "width: 100%; height: 300px", @class = "textarea", placeholder = "Enter text..." })
    </div>
</div>

