﻿@{
ViewBag.Title = "Picture - SMP ";
}
<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Hình ảnh</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Hình mới nhất</span></h2>
	<div class="v-list table4pic" >
		<div class="v-item ">
			<table>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/11.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/1.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/10.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/2.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/8.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/4.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/5.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/6.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="clearfix"></div>
	<ul class="home-nav">
		<li>1</li>
		<li><a href="category.html">2</a></li>
		<li><a href="category.html">3</a></li>
		<li><a href="category.html">4</a></li>
		<li><a href="category.html">5</a></li>
		<li><a href="category.html">Tiếp</a></li>
	</ul>


	<div class="menu">
		<div class="clearfix"></div>
		<h2><span>Chuyên mục con</span></h2>
		<div>
			<ul class="main-cat">
				<li class="music-header">
					<a href="category.html"> 
						<b>Hình thiên nhiên</b>
					</a>
				</li>
				<div class="v-list table4pic ">
					<div class="v-item ">
						<table>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/11.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/1.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/10.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/2.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/8.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/4.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/5.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/6.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
						</table>
					</div>     
				</div>                          
				<li class="music-header">
					<a href="category.html"> 
						<b>Hình người lớn</b>
					</a>
				</li>
				<div class="v-list table4pic">
					<div class="v-item ">
						<table>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/11.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/1.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/10.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/2.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/8.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/4.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/5.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
								<td>
									<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/6.jpg">
									<a href="#">Xem/Tải xuống</a>
								</td>
							</tr>
						</table>
					</div>
				</div>                                
			</ul>
		</div>
	</div>
</div>
</div>


