﻿@model IEnumerable<WAP_CMS.Models.TBL_Photo>

@{
    ViewBag.Title = "Photo";
}
<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                @*@using (Html.BeginForm("Index", "Photo", new { id = 0 })) {
                        @Html.DropDownList("PhotoCategory", (SelectList)ViewBag.PhotoCategory, new { onchange = "this.form.submit();", @class = "chosen" })
                    }*@
            </div>

            <div class="float_right">
                <a href="@Url.Action("Create", "Photo")" class="blue btn btn-xlarge">
                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                    New @ViewBag.Title
                </a>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="well blue">
                        <div class="well-header">
                            <h5 id="iTotalDisplayRecord-photo"></h5>
                        </div>

                        <div class="well-content">
                            <div class="responsive_table_scroll">
                                <table class="table table-striped table-bordered table-hover datatable" width="100%" id="photo-index">
                                    <thead>
                                        <tr>
                                            <td width="10%">#</td>
                                            <td width="15%">@Html.DisplayNameFor(model => model.name)</td>
                                            <td width="15%">@Html.DisplayNameFor(model => model.view)</td>
                                            <td width="15%">@Html.DisplayNameFor(model => model.download)</td>
                                            <td width="15%">@Html.DisplayNameFor(model => model.Enable)</td>
                                            <td width="15%">Action</td>
                                            <td width="15%" class="last-column">&nbsp;</td>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DeletePhotoDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @using (Html.BeginForm("Delete", "Photo"))
    {
        <div class="modal-body">
            <p>Are you sure want to delete this Photo ?</p>

            <input type="hidden" name="id" id="id" />
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
            <input type="submit" class="btn red" value="Yes" />
        </div>
    }
</div>

<script type="text/javascript">
    function ShowDeletePhotoDlg(id) {
        jQuery("#id").val(id);

        jQuery('#DeletePhotoDlg').modal('show');
    }
</script>