﻿@model IEnumerable<WapFront.Models.Game>
@using WapFront.Models

@switch ((int)ViewBag.clientId)
{
    case 1:
        foreach (Game item in Model)
        {
            <div class="v-item ">
                <div class="left">
                    <a href="@Url.Action("Index/"+item.Id)">
                        <img src="~/Assets/Upload/@item.ImageURL" style="margin-top:10px;">

                    </a>
                </div>
                <div class="right">
                    <div class="title"><a href="@Url.Action("Index/"+item.Id)">@item.Name</a></div>

                    <div class="subtitle">
                        <span class="ms-download">@item.Download Lượt download</span>
                        <div class="clearfix"></div>
                        <span>
                            <a href="@Url.Action("Index/"+item.Id)">
                                (Tải về/3000d)
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
        if (ViewBag.paginate == 1)
        {
            Html.RenderAction("pagination", "Game", new { count = ViewBag.numberOfRecord, itemPerPage = 5, page = Request.Params["page"], cat = ViewBag.cat, ver = ViewBag.ver });
        }
        break;
    case 2:
        foreach (Game item in Model)
        {
            <div class="v-item ">
                <table>
                    <tr>
                        <td class="left">
                            <a href="@Url.Action("Index/"+item.Id)">
                                <img src="~/Assets/Upload/@item.ImageURL">
                            </a>
                        </td>
                        <td class="right">
                            <div class="title">
                                <a href="@Url.Action("Index/"+item.Id)">@item.Name</a>
                            </div>
                            @if (string.IsNullOrEmpty(item.iOSAppURL))
                            {
                                <span class="icon-apple-g"></span>
                            }
                            else
                            {
                                <span class="icon-apple-b"></span>
                            }
                            @if (string.IsNullOrEmpty(item.AndroidAppURL))
                            {
                                <span class="icon-and-g"></span>
                            }
                            else
                            {
                                <span class="icon-and-b"></span>
                            }
                            @if (string.IsNullOrEmpty(item.JavaAppURL))
                            {
                                <span class="icon-java-g"></span>
                            }
                            else
                            {
                                <span class="icon-java-b"></span>
                            }
                            <div class="subtitle">
                                <span class="ms-seen">
                                    @item.Download  Lượt tải về
                                </span>
                                <div class="clearfix"></div>
                                <span>
                                    <a href="@Url.Action("Index/"+item.Id)">
                                        Xem/Tải về
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
        <div class="clearfix"></div>
        if (ViewBag.paginate == 1)
        {
            Html.RenderAction("pagination", "Game", new { count = ViewBag.numberOfRecord, itemPerPage = 5, page = Request.Params["page"], cat = ViewBag.cat, ver = ViewBag.ver });
        }
        break;
    default:
        foreach (Game item in Model)
        {
            <div class="item">
                <img src="~/Assets/Upload/@item.ImageURL">@item.Name<br />
                @if (string.IsNullOrEmpty(item.iOSAppURL))
                {
                    <span class="icon-apple-g"></span>
                }
                else
                {
                    <span class="icon-apple-b"></span>
                }
                @if (string.IsNullOrEmpty(item.AndroidAppURL))
                {
                    <span class="icon-and-g"></span>
                }
                else
                {
                    <span class="icon-and-b"></span>
                }
                @if (string.IsNullOrEmpty(item.JavaAppURL))
                {
                    <span class="icon-java-g"></span>
                }
                else
                {
                    <span class="icon-java-b"></span>
                }

                <a href="@Url.Action("Index/"+item.Id)">
                    <span class="dl">Xem/Tải về</span>
                </a>
            </div>
        }
        if (ViewBag.paginate == 1)
        {
            Html.RenderAction("pagination", "Game", new { count = ViewBag.numberOfRecord, itemPerPage = 12, page = Request.Params["page"], cat = ViewBag.cat, ver = ViewBag.ver });
        }
        break;
}
