﻿@{
    string ver = String.IsNullOrEmpty(ViewBag.ver) ? "" : ViewBag.ver;
}
@switch ((int)ViewBag.clientId)
{
    case 1:
        <ul class="home-nav">
            @for (int i = 1; i <= ViewBag.numberOfPage; i++)
            {
                if (ViewBag.page == i)
                {
                    <li>@i</li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Game", new {cat = ViewBag.cat, ver = ViewBag.ver,  page = i })">@i</a></li>
                }
            }
        </ul>
            break;
    case 2:
        <ul class="home-nav">
            @for (int i = 1; i <= ViewBag.numberOfPage; i++)
            {
                if (ViewBag.page == i)
                {
                    <li>@i</li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Game", new {cat = ViewBag.cat, ver = ViewBag.ver,  page = i })">@i</a></li>
                }
            }
        </ul>
            break;
    default:
        <div class="pagination">
            Trang:
            @for (int i = 1; i <= ViewBag.numberOfPage; i++)
            {
                if (ViewBag.page == i)
                {
                    <a href="#" class="active"><span style="color:orange">@i</span></a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Game", new {cat = ViewBag.cat, ver = ViewBag.ver,  page = i })">@i</a>
                }
            }
            <a href="@Url.Action("Index", "Game", new { cat = ViewBag.cat, ver = ViewBag.ver, page = ViewBag.numberOfPage })">Trang cuối</a>
        </div>
        break;
}
