﻿@model WAP_CMS.Models.TBL_POLICY

@{
    ViewBag.Title = "Edit policy";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>
                                @if (TempData["MESSAGE"] != null && TempData["MESSAGE"].ToString().Length > 0)
                                {
                                    <font style="color: red; font-weight: bold;">@TempData["MESSAGE"]</font>
                                }
                            </h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm("Edit", "Policy", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.row_id)
                                @Html.HiddenFor(model => model.register_datetime)
                                @Html.HiddenFor(model => model.type)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.typeString)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.DisplayFor(model => model.typeString)
                                    </div>

                                    @Html.ValidationMessageFor(model => model.typeString)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.content)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextAreaFor(model => model.content, new { @class = "span8", @style = "margin-left: 0; height: 200px"})
                                    </div>

                                    @Html.ValidationMessageFor(model => model.content)
                                </div>
                                
                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Update" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "Policy")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>

                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
</div>






