﻿@model IEnumerable<WAP_CMS.Models.TBL_POLICY>

@{
    ViewBag.Title = "Policy";
    var i = 1;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>All record (total: @Model.Count())</h5>
                        </div>

                        <div class="well-content">
                            <div class="responsive_table_scroll">
                                <table class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>@Html.DisplayNameFor(model => model.type)</td>
                                            <td>@Html.DisplayNameFor(model => model.content)</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td width="5%">@(i++)</td>
                                                <td width="20%">@Html.DisplayFor(modelItem => item.typeString)</td>
                                                <td >@Html.DisplayFor(modelItem => item.content)</td>
                                                <td class="action-column" width="12%" valign="top">
                                                    <a href="@Url.Action("Edit", "Policy", new { id = item.row_id })" class="grey btn action-btn">
                                                        <i class="icon-edit"></i> Edit
                                                    </a>
                                                </td>

                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DeleteGameDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @using (Html.BeginForm("Delete", "Game"))
    {
        <div class="modal-body">
            <p>Are you sure want to delete this game ?</p>

            <input type="hidden" name="id" id="id" />
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
            <input type="submit" class="btn red" value="Yes" />
        </div>
    }
</div>

<script type="text/javascript">
    function ShowDeleteGameDlg(id) {
        jQuery("#id").val(id);

        jQuery('#DeleteGameDlg').modal('show');
    }
</script>