﻿@{
ViewBag.Title = "Music - SMP ";
}

<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Âm nhạc</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Bài hát mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item " style="padding:0px">
			<table class="table4music" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<td width="45%">Tên bài hát</td>
						<td width="40%">Ca sĩ</td>
						<td>nghe</td>
					</tr>
				</thead>
				<tbody>
					<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
						<td class="songname">Indestructable</td>
						<td class="artist">Girls Generation</td>
						<td>2824</td>
					</tr>
					<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
						<td class="songname">River flow in you - live in Seoul</td>
						<td class="artist">Yiruma</td>
						<td>1102</td>
					</tr>
					<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
						<td class="songname">Đồng xanh</td>
						<td class="artist">Vy Oanh</td>
						<td>0</td>
					</tr>
					<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
						<td class="songname">Nắng ấm xa dần</td>
						<td class="artist">Sơn Tùng M-TP</td>
						<td>11212</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="clearfix"></div>
		<ul class="home-nav">
			<li>1</li>
			<li><a href="category.html">2</a></li>
			<li><a href="category.html">3</a></li>
			<li><a href="category.html">4</a></li>
			<li><a href="category.html">5</a></li>
			<li><a href="category.html">Tiếp</a></li>
		</ul>
	</div>
	<div class="menu">
		<div class="clearfix"></div>
		<h2><span>Chuyên mục con</span></h2>
		<div>
			<ul class="main-cat">
				<li class="music-header">
					<a href="category.html"> 
						<b>Nhạc trẻ</b>
					</a>
				</li>
				<div class="v-list">
					<div class="v-item last">
						<table class="table4music" border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td width="45%">Tên bài hát</td>
									<td width="40%">Ca sĩ</td>
									<td>nghe</td>
								</tr>
							</thead>
							<tbody>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Indestructable</td>
									<td class="artist">Girls Generation</td>
									<td>2824</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">River flow in you - live in Seoul</td>
									<td class="artist">Yiruma</td>
									<td>1102</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Đồng xanh</td>
									<td class="artist">Vy Oanh</td>
									<td>0</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Nắng ấm xa dần</td>
									<td class="artist">Sơn Tùng M-TP</td>
									<td>11212</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>                               
				<li class="music-header">
					<a href="category.html"> 
						<b>Nhạc cổ điển</b>
					</a>
				</li>
				<div class="v-list">
					<div class="v-item last">
						<table class="table4music" border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td width="45%">Tên bài hát</td>
									<td width="40%">Ca sĩ</td>
									<td>nghe</td>
								</tr>
							</thead>
							<tbody>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Indestructable</td>
									<td class="artist">Girls Generation</td>
									<td>2824</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">River flow in you - live in Seoul</td>
									<td class="artist">Yiruma</td>
									<td>1102</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Đồng xanh</td>
									<td class="artist">Vy Oanh</td>
									<td>0</td>
								</tr>
								<tr onclick='location.href="@Url.Action("Index/1","Music")"'>
									<td class="songname">Nắng ấm xa dần</td>
									<td class="artist">Sơn Tùng M-TP</td>
									<td>11212</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>                                
			</ul>
		</div>
	</div>
</div>