﻿@{
    ViewBag.Title = "Video - SMP ";
}
<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Video</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Clip mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item ">
			<table>
				<tr>
					<td class="left">
						<a href="@Url.Action("Index/1","Video")">
							<img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="~/Assets/Upload/v2.jpg">
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="@Url.Action("Index/1","Video")">12 cung hoàng đạo sẽ làm gì nếu trong wc... hết giấy ?</a>
						</div>
						
						<div class="subtitle"> 
							<span class="ms-seen">
								15  lượt xem							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="@Url.Action("Index/1","Video")">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="v-item last">
			<table>
				<tr>
					<td class="left">
						<a href="@Url.Action("Index/1","Video")">
							<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/v1.jpg">
							
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="@Url.Action("Index/1","Video")">F(x) RedLight - MV </a>
						</div>
						
						<div class="subtitle"> 
							<span class="ms-seen">
								0  lượt xem							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="@Url.Action("Index/1","Video")">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>	
		</div>
	</div>
		<div class="clearfix"></div>
		<ul class="home-nav">
			<li>1</li>
			<li><a href="category.html">2</a></li>
			<li><a href="category.html">3</a></li>
			<li><a href="category.html">4</a></li>
			<li><a href="category.html">5</a></li>
			<li><a href="category.html">Tiếp</a></li>
		</ul>


		<div class="menu">
			<div class="clearfix"></div>
			<h2><span>Chuyên mục con</span></h2>
			<div>
				<ul class="main-cat">
					<li class=" ">
						<a href="category.html"> 
							<b>Clip quảng cáo</b>
						</a>
					</li>
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">
										<a href="@Url.Action("Index/1","Video")">
											<img alt="Tác dụng không ngờ của dừa trong làm đẹp da" src="~/Assets/Upload/v3.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="@Url.Action("Index/1","Video")">Những quảng cáo ăn khách nhất Hàn Quốc 2014</a></div>
										
										<div class="subtitle"> 
											<span class="ms-seen">
												87  lượt xem							
											</span>
											<div class="clearfix"></div>
											<span>
												<a href="@Url.Action("Index/1","Video")">(tải về/3000d)</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                               
					<li class=" ">
						<a href="category.html"> 
							<b>Phim dài tập</b>
						</a>
					</li>
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">

										<a href="@Url.Action("Index/1","Video")">
											<img alt="Girls Generation: Indestructible - bản ballad đầy ý nghĩa" src="~/Assets/Upload/v5.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="@Url.Action("Index/1","Video")">Xem phim Thủ tướng và tôi (3/18)</a></div>
										
										<div class="subtitle"> 
											<div class=`"clearfix"></div>
											<span>
												<a href="@Url.Action("Index/1","Video")">(tải về/3000d)
												</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                                
				</ul>
			</div>
		</div>
	</div>
</div>

