﻿@{
    ViewBag.Title = "Video - DT";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Chủ đề
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">Nóng nhất</a></li>
                    <li><a href="#">Thể thao</a></li>
                    <li><a href="#">Thời sự</a></li>
                    <li><a href="#">MV ca nhạc</a></li>
                    <li><a href="#">Clip ý nghĩa</a></li>
                    <li><a href="#">Phim Mỹ</a></li>
                    <li><a href="#">Phim Nhật</a></li>
                    <li><a href="#">Phim Hàn Quốc</a></li>
                    <li><a href="#">Phim hành động</a></li>
                    <li><a href="#">Phim tâm lý tình cảm</a></li>
                    <li><a href="#">Phim gia đình</a></li>
                    <li><a href="#">Phim 18+</a></li>
                    <li><a href="#">Phim hoạt hình</a></li>
                    <li class="last"><a href="#">Đường phố</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">Video</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />
                    <input type="submit" value="tìm kiếm">
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        <a href="#">Trang chủ</a><div class="divider">&nbsp;</div>
                        <a href="#">Video</a>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="item"><img src="~/Assets/Upload/v6.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v7.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v1.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v2.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v4.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v5.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v7.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v1.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v9.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v12.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v11.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/v8.jpg"><span class="vid-dur">22:12</span>This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></div>
                    
                    
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Mới nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/v6.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v7.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v8.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v9.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/v10.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Tải nhiều nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/v1.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v2.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v3.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/v4.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/v5.jpg">This is a title <a href="@Url.Action("Index/1","Video")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
