﻿@switch ((int)ViewBag.client)
{
    case 1:
    case 2:
        <footer>
            <div class="clearfix"></div>
            <h2>
                <span>Hướng dẫn</span>
            </h2>
            <a href="index.html" class="referral_service" title="Hướng dẫn">Hướng dẫn</a>
            <a href="index.html" class="referral_service" title="Cách thức thanh toán">Cách thức thanh toán</a>
            <a href="index.html" class="referral_service" title="Điều kiện sử dụng">Điều kiện sử dụng</a>
            <div class="clearfix"></div>
            <div id="footer">
                <div id="footer_left">
                    <a href="~/Images/downloadcontent/avideo.htm" class="home"></a>
                    <a href="#" class="back_top">&nbsp;</a>
                </div>
                <div class="clear"></div>
                <div class="copyright">
                    <p>Lorem lipsum</p>
                    <p>Address: this is address</p>
                    <p>Email: email@mail.com</p>
                </div>
            </div>
        </footer>
        break;
    default:
        <footer>
            <p>Lorem lipsum</p>
            <p>Address: this is address</p>
            <p>Email: email@mail.com</p>
        </footer>
        break;
}