﻿@switch ((int)ViewBag.client)
{
    case 1:
        <header>
            <div id="header">
                <div class="left"><a href="#"></a></div>
                <div class="right">
                    <a class="search" href="search.html" title="Tìm kiếm"><span></span></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="bottom">
                <div class="clearfix"></div>
            </div>
            <div id="userbar">
                Không nhận diện được thuê bao <a href="login.html">Đăng nhập</a>
            </div>
            <div id="mainmenu">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr style="margin: 0;">
                            
                            <td>@Html.ActionLink("Trò chơi", "Index", "Game")</td>
                            <td>@Html.ActionLink("Nhạc", "Index", "Music")</td>
                            <td>@Html.ActionLink("Video", "Index", "Video")</td>
                            <td>@Html.ActionLink("Hình ảnh", "Index", "Picture")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </header>
              break;
    case 2:
        <header>
            <div id="header">
                <div class="left"><a href="#"></a></div>
                <div class="right">
                    <a class="search" href="search.html" title="Tìm kiếm"><span></span></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="bottom">
                <div class="clearfix"></div>
            </div>
            <div id="userbar">
                Không nhận diện được thuê bao <a href="login.html">Đăng nhập</a>
            </div>
            <div id="mainmenu">
                <table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; text-align:center; text-transform: uppercase">
                    <tbody>
                        <tr style="margin: 0;">
                            <td>@Html.ActionLink("Trò chơi", "Index", "Game")</td>
                            <td>@Html.ActionLink("Nhạc", "Index", "Music")</td>
                            <td>@Html.ActionLink("Video", "Index", "Video")</td>
                            <td>@Html.ActionLink("Hình ảnh", "Index", "Picture")</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </header>
        break;
    default:
        <header>
            <div class="menu">
                <span><span class="icon-home"></span>@Html.ActionLink("Home", "Index", "Home")</span>
                <span><span class="icon-game"></span>@Html.ActionLink("Trò chơi", "Index", "Game")</span>
                <span><span class="icon-game"></span>@Html.ActionLink("Nhạc", "Index", "Music")</span>
                <span><span class="icon-game"></span>@Html.ActionLink("Video", "Index", "Video")</span>
                <span><span class="icon-game"></span>@Html.ActionLink("Hình ảnh", "Index", "Picture")</span>      
                <span><span class="icon-pay"></span><a href="#">Nạp tiền</a></span>
                <span><span class="icon-help"></span><a href="#">Hướng dẫn</a></span>
                <span><span class="icon-faq"></span><a href="#">Điều khoản sử dụng</a></span>
            </div>
            <div class="banner"></div>
        </header>
        break;
}