﻿@{
    ViewBag.Title = "TRANG CHỦ - DT ";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Chuyên mục
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="game">Trò chơi</a></li>
                    <li><a href="music">Âm nhạc</a></li>
                    <li><a href="picture">Hình ảnh</a></li>
                    <li class="last"><a href="video">Video</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">TRANG CHỦ</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />

                    <input type="submit" value="tìm kiếm"><br><br>
                    <input type="radio" name="chk" checked="checked"> Tất cả <input type="radio" name="chk"> Trò chơi <input type="radio" name="chk"> Âm nhạc <input type="radio" name="chk"> Hình ảnh <input type="radio" name="chk"> Video
                </div>
            </div>
            <div class="menu-panel">
            	<div class="menu-child-item active-cls" id="game-m">Trò chơi</div>
            	<div class="menu-child-item" id="music-m">Âm nhạc</div>
            	<div class="menu-child-item" id="picture-m">Hình ảnh</div>
            	<div class="menu-child-item" id="video-m">Video</div>
            </div>

            <div class="panel main-panel music tohide" id="music-i">              
                <div class="panel-content">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <td width="80%" align="left" style="padding-left:20px">Bài hát</td>
                                <td width="10%">Nghe</td>
                                <td>Tải</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="song-name">Indestructible</span><span class="song-artist">Girls Generation</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Lắng nghe nước mắt</span><span class="song-artist">Mr Siro</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Hà Nội đêm trở gió</span><span class="song-artist">Mỹ Linh</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Cho em</span><span class="song-artist">Thùy Chi - Wanbi Tuấn Anh</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Nơi tình yêu bắt đầu</span><span class="song-artist">Bằng Kiều</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Ngày yêu thương</span><span class="song-artist">VPOP Singers</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Indestructible</span><span class="song-artist">Girls Generation</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>


			<div class="panel main-panel game toshow" id="game-i">
                <div class="panel-content">
                    <div class="item"><img src="Assets/Upload/g6.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g1.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g2.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g4.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g5.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g8.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g9.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g12.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g11.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g5.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g2.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g11.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g10.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/g4.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>

			<div class="panel main-panel video tohide" id="video-i">
                <div class="panel-content">
                    <div class="item"><img src="Assets/Upload/v6.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v7.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v1.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v2.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v4.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v5.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v7.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v1.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v9.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v12.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v11.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/v8.jpg"><span class="vid-dur">22:12</span>This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    
                    
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>

            <div class="panel main-panel picture tohide" id="picture-i">
                <div class="panel-content">
                    <div class="item"><img src="Assets/Upload/6.jpg">This is a title <a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/7.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/1.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/4.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/5.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/7.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/8.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/9.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/11.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/9.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/11.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/10.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/4.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Mới nhất
            </div>
            <div class="panel-content">
                
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Tải nhiều nhất
            </div>
            <div class="panel-content">
                
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.menu-child-item').click(function(){
			var id = $(this).attr('id').replace('-m','-i');
			if ($(this).hasClass('active-cls')) {
				return;
			}
			else{
				$('.menu-child-item').removeClass('active-cls');
				$(this).addClass('active-cls');
				$('.video').removeClass('toshow').addClass('tohide');
				$('.game').removeClass('toshow').addClass('tohide');
				$('.picture').removeClass('toshow').addClass('tohide');
				$('.music').removeClass('toshow').addClass('tohide');
				$('#'+id).removeClass('tohide').addClass('toshow');
			}
		})
	})
</script>