﻿@{
    ViewBag.Title = "Index - SMP ";
}
<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Game mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item ">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="~/Assets/Upload/g2.jpg">
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">Dragon quest, game mô phỏng theo bộ truyện ăn khách</a>
						</div>
						<span class="icon-apple-b"></span>
						<span class="icon-and-b"></span>
						<span class="icon-java-b"></span>
						<div class="subtitle"> 
							<span class="ms-seen">
								15  Lượt tải về							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="v-item last">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/g1.jpg">
							
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">After earth, sống sót ở trái đất ! </a>
						</div>
						<span class="icon-apple-b"></span>
						<span class="icon-and-b"></span>
						<span class="icon-java-b"></span>
						<div class="subtitle"> 
							<span class="ms-seen">
								0  lượt tải về							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>	
		</div>
	</div>

	<h2><span>Bài hát mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item " style="padding:0px">
			<table class="table4music" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<td width="45%">Tên bài hát</td>
						<td width="40%">Ca sĩ</td>
						<td>nghe</td>
					</tr>
				</thead>
				<tbody>
					<tr onclick="location.href='#.html'">
						<td class="songname">Indestructable</td>
						<td class="artist">Girls Generation</td>
						<td>2824</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">River flow in you - live in Seoul</td>
						<td class="artist">Yiruma</td>
						<td>1102</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">Đồng xanh</td>
						<td class="artist">Vy Oanh</td>
						<td>0</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">Nắng ấm xa dần</td>
						<td class="artist">Sơn Tùng M-TP</td>
						<td>11212</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="clearfix"></div>
		
	</div>
	<div class="clearfix"></div>
	<h2><span>Video mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item ">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="~/Assets/Upload/v2.jpg">
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">12 cung hoàng đạo sẽ làm gì nếu trong wc... hết giấy ?</a>
						</div>
						
						<div class="subtitle"> 
							<span class="ms-seen">
								15  lượt xem							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="v-item last">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/v1.jpg">
							
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">F(x) RedLight - MV </a>
						</div>
						
						<div class="subtitle"> 
							<span class="ms-seen">
								0  lượt xem							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>	
		</div>
	</div>

	<h2><span>Hình mới nhất</span></h2>
	<div class="v-list table4pic" >
		<div class="v-item ">
			<table>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/11.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/1.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/10.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/2.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/8.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/4.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
				<tr>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/5.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
					<td>
						<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="~/Assets/Upload/6.jpg">
						<a href="#">Xem/Tải xuống</a>
					</td>
				</tr>
			</table>
		</div>
</div>

