﻿@model IEnumerable<WapFront.Models.Category>


@switch ((int)ViewBag.client)
{
    case 1:
        <div id="mainmenu">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr style="margin: 0;">
                        <td class="active">
                            @Html.ActionLink("Home", "Index", "Home")
                        </td>
                        @foreach (var item in Model)
                        {
                            <td>@Html.ActionLink(item.Name, item.Id.ToString(), "Category")</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
                        break;

    case 2:
    <div id="mainmenu">
        <table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; text-align:center; text-transform: uppercase">
            <tbody>
                <tr style="margin: 0;">
                    <td class="active">
                        @Html.ActionLink("Home", "Index", "Home")
                    </td>
                    @foreach (var item in Model)
                    {
                        <td>@Html.ActionLink(item.Name, item.Id.ToString(), "Category")</td>
                    }

                </tr>
            </tbody>
        </table>
    </div>
    break;

    default:

    @foreach (var item in Model)
    {
        <span>
            <span class="icon-home"></span>@Html.ActionLink(item.Name, item.Id.ToString(), "Category")</span>
    }

    break;
}
