﻿@model IEnumerable<WapFront.Models.Media>

<div id="content">
    <h2><span><span>HOT</span> nhất</span></h2>
    <div class="v-list">
        <div class="v-item ">
            <table>
                <tr>
                    <td class="left">
                        <a href="detail.html">
                            <img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="~/Images/downloadcontent/260350.jpg">
                            <span class="duration">
                                09:55
                            </span>
                        </a>
                    </td>
                    <td class="right">
                        <div class="title">
                            @Html.ActionLink("Máy bay sắp cất cánh, hành khách “đòi” quay lại", "Detail")
                        </div>
                        <div class="subtitle">
                            <span class="ms-seen">
                                15  Lượt nghe
                            </span>
                            <div class="clearfix"></div>
                            <span>
                                @Html.ActionLink("(Nghe/3000d)", "Detail")
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="clearfix"></div>
        <ul class="home-nav">
            <li>1</li>
            <li>@Html.ActionLink("2", "Category")</li>
            <li>@Html.ActionLink("3", "Category")</li>
            <li>@Html.ActionLink("4", "Category")</li>
            <li>@Html.ActionLink("5", "Category")</li>
            <li>@Html.ActionLink("Tiếp", "Category")</li>
        </ul>


    </div>
</div>
