﻿@{
ViewBag.Title = "Game - SMP ";
}

<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Trò chơi</li>
		<li>></li>
		<li>Game nhập vai</li>
		<li>></li>
		<li>Halo 2</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>HALO 2 - THE TWO HEROES</span></h2>
	<div class="v-list">
		<div class="v-item ">
			<table>
				<tr>
					<td>
						<a href="detail.html">
							<img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="~/Assets/Upload/g2.jpg">
						</a>
					</td>
				</tr>
				<tr>
					<td >
						<div class="title"><a href="detail.html">Dragon quest, game mô phỏng theo bộ truyện ăn khách</a>
						</div>
						<table cellpadding="0" cellspacing="0" class="content-right">
                            <tr>
                                <td class="tbtitle">Nhà phát hành</td>
                                <td>343 Industries</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Thể loại</td>
                                <td>Game nhập vai</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Phiên bản</td>
                                <td>1.3.2</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Dung lượng</td>
                                <td>800Kb</td>
                            </tr>
                            <tr>
                                <td class="tbtitle" valign="top">Tải xuống</td>
                                <td>
                                    <a href="#"><span class="icon-apple-b">Dành cho iphone</span> </a>
                                    <a href="#"><span class="icon-and-b">Dành cho android</span> </a>
                                    <a href="#"><span class="icon-java-b">Dành cho java phone</span> </a>
                                </td>
                            </tr>
                        </table>
                        Quisque rhoncus ullamcorper odio eget feugiat. Nulla at leo lectus. Ut condimentum tempus dui nec venenatis. Integer ultrices tristique arcu ac malesuada. Nulla facilisi. Maecenas vehicula scelerisque sapien ac lacinia. Integer dapibus sem sed mi aliquet auctor. Donec lacinia velit dolor. Nulla facilisi. Duis tincidunt nulla nunc, at laoreet nunc mollis pharetra. Suspendisse potenti. Maecenas bibendum felis turpis, nec vulputate arcu semper et. Fusce gravida nunc eget tellus convallis semper. Integer feugiat lacinia nisi, id semper tortor viverra at.
					</td>
				</tr>
			</table>
		</div>
		
		</div>
		<div class="clearfix"></div>
		


		<div class="menu">
			<div class="clearfix"></div>
			<h2><span>Game cùng thể loại</span></h2>
			<div>
				<ul class="main-cat">
					
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">
										<a href="detail.html">
											<img alt="Tác dụng không ngờ của dừa trong làm đẹp da" src="~/Assets/Upload/g3.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="detail.html">Transformer III - Game chiến thuật đỉnh</a></div>
										<span class="icon-apple-b"></span>
										<span class="icon-and-b"></span>
										<span class="icon-java-b"></span>
										<div class="subtitle"> 
											<span class="ms-seen">
												87  lượt tải về							
											</span>
											<div class="clearfix"></div>
											<span>
												<a href="detail.html">(tải về/3000d)</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                               
					
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">

										<a href="detail.html">
											<img alt="Girls Generation: Indestructible - bản ballad đầy ý nghĩa" src="~/Assets/Upload/g5.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="detail.html">Tetris - Game xếp hình kinh điển</a></div>
										<span class="icon-apple-b"></span>
										<span class="icon-and-b"></span>
										<span class="icon-java-b"></span>
										<div class="subtitle"> 
											<div class=`"clearfix"></div>
											<span>
												<a href="detail.html">(tải về/3000d)
												</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                                
				</ul>
			</div>
		</div>
	</div>
</div>
