﻿@{
    ViewBag.Title = "Trò chơi - DT";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Các dòng máy
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Apple - IOS</a></li>
                    <li><a href="#">Java phone</a></li>
                    <li class="last"><a href="#">Điện thoại khác</a></li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                Thể loại game
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">Bắn súng</a></li>
                    <li><a href="#">Đi bàn</a></li>
                    <li><a href="#">Phiêu lưu</a></li>
                    <li><a href="#">Nhập vai</a></li>
                    <li><a href="#">Giải đố</a></li>
                    <li><a href="#">Thể thao</a></li>
                    <li><a href="#">Người lớn</a></li>
                    <li><a href="#">Theo lượt</a></li>
                    <li><a href="#">Xếp hình</a></li>
                    <li><a href="#">Online</a></li>
                    <li><a href="#">Trẻ em</a></li>
                    <li class="last"><a href="#">Khác</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">Trò chơi</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />
                    <input type="submit" value="tìm kiếm">
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        <a href="@Url.Action("Index","Home")">Trang chủ</a><div class="divider">&nbsp;</div>
                        <a href="">Trò chơi</a><div class="divider">&nbsp;</div>
                        <a href="#">Game nhập vai</a><div class="divider">&nbsp;</div>
                        <a href="#">Halo 2</a>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="content-left">
                        <img src="http://1tafun.ir/wp-content/uploads/2014/05/halo_2_08_1600x1200.jpg">
                    </div>
                    <div class="content-right">
                        <span class="title">halo 2 - The two Heroes</span>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="tbtitle">Nhà phát hành</td>
                                <td>343 Industries</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Thể loại</td>
                                <td>Game nhập vai</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Phiên bản</td>
                                <td>1.3.2</td>
                            </tr>
                            <tr>
                                <td class="tbtitle">Dung lượng</td>
                                <td>800Kb</td>
                            </tr>
                            <tr>
                                <td class="tbtitle" valign="top">Tải xuống</td>
                                <td>
                                    <a href="#"><span class="icon-apple-b">Dành cho iphone</span> </a>
                                    <a href="#"><span class="icon-and-b">Dành cho android</span> </a>
                                    <a href="#"><span class="icon-java-b">Dành cho java phone</span> </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-bottom">
                        Quisque rhoncus ullamcorper odio eget feugiat. Nulla at leo lectus. Ut condimentum tempus dui nec venenatis. Integer ultrices tristique arcu ac malesuada. Nulla facilisi. Maecenas vehicula scelerisque sapien ac lacinia. Integer dapibus sem sed mi aliquet auctor. Donec lacinia velit dolor. Nulla facilisi. Duis tincidunt nulla nunc, at laoreet nunc mollis pharetra. Suspendisse potenti. Maecenas bibendum felis turpis, nec vulputate arcu semper et. Fusce gravida nunc eget tellus convallis semper. Integer feugiat lacinia nisi, id semper tortor viverra at.
                    </div>
                </div>               
            </div>

            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        Game cùng thể loại
                    </div>
                </div>
                <div class="panel-content">
                    <div class="item"><img src="~/Assets/Upload/g6.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g1.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g2.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g4.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g5.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g8.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    
                    <div class="pagination">
                        <a href="#">Xem toàn bộ</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Game cùng thể loại
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/g6.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g7.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g8.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g9.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/g10.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Game mới nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/g1.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g2.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g3.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g4.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/g5.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>