﻿@model WAP_CMS.Models.TBL_Music_Category
@{
    ViewBag.Title = "Create Music Category";

    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Music </h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.category_name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.category_name, new { @class = "span5" })
                                    </div>

                                    @Html.ValidationMessageFor(model => model.category_name)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable)
                                    </div>
                                </div>


                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Create" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "MusicCategory")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
