﻿@model WAP_CMS.Models.TBL_Music_Category
@{
    ViewBag.Title = "Edit Music Category";

    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>
                                @if (TempData["MESSAGE"] != null && TempData["MESSAGE"].ToString().Length > 0)
                                {
                                    <font style="color: red; font-weight: bold;">@TempData["MESSAGE"]</font>
                                }
                            </h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm())
                            {


                                @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.row_id)
                                @Html.HiddenFor(model => model.register_person)
                                @Html.HiddenFor(model => model.register_datetime)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.category_name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.category_name, new { @class = "span5" })
                                    </div>

                                    @Html.ValidationMessageFor(model => model.category_name)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable)
                                    </div>
                                </div>


                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Update" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "MusicCategory")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Translation</h5>

                            <div class="float_right" style="margin-top: 10px; margin-right: 5px">
                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id,0)" class="blue btn btn-small">
                                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                                    Add Translation
                                </a>
                            </div>
                        </div>

                        <div class="well-content no-search">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <td>Language</td>
                                        <td>Category Name</td>
                                        <td>Active</td>
                                        <td class="last-column">&nbsp;</td>
                                        <td class="last-column">&nbsp;</td>
                                    </tr>
                                </thead>

                                <tbody id="tblMusicCategory">
                                    @foreach (var item in ViewBag.TranMusicCategories)
                                    {
                                        <tr>
                                            <td>@item.language_name</td>
                                            <td width="26%">@item.category_name</td>

                                            <td class="action-column">
                                                @if (item.status == 1)
                                                {
                                                    @:Yes
                                                }
                                                else
                                                {
                                                    @:No
                                                }
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id, @item.language_id)" class="grey btn action-btn">
                                                    <i class="icon-edit"></i> Edit
                                                </a>
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowDeleteTranslationDialog(@item.language_id)" role="button" class="btn red delete-btn action-btn" data-toggle="modal">
                                                    <i class="icon-remove-sign"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteTranslationDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p>Are you sure want to delete this translation ?</p>

        <input type="hidden" id="delTranMusicCategoryLanguage" />
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
        <input type="button" class="btn red" value="Yes" onclick="DeleteTranslation()" />
    </div>
</div>


<div id="TranSlationDlg" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3>Translation</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            @using (Html.BeginForm("TranMusicCategory", "MusicCategory"))
            {
                <div class="span12" id="TranSlationFormContainer">
                    <div class="form_row">
                        <label class="field_name custom-field_name-for-large-area">
                            Language
                        </label>
                        <div class="field">
                            @Html.DropDownList("language_row_id", (SelectList)ViewBag.languages)
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">Close</a>
        <a href="#" onclick="SaveTranslation()" class="btn red">Save changes</a>
    </div>
</div>

<script type="text/javascript">
    function ShowTranslationDialog(id, langId) {
        jQuery.ajax({
            // Call EditPartialView action method
            url: "/MusicCategory/TranMusicCategory",
            data: { catid: id, lang: langId },
            type: 'Get',
            success: function (msg) {
                if (langId > 0) {
                    jQuery('#language_row_id').val(langId);
                }
                jQuery('.tran_category_name').remove();

                jQuery('#TranSlationFormContainer').append(msg);

                jQuery('#TranSlationDlg').modal('show');
            },
            error: function () {
                alert("Error occurs! Please try again or contact support for more information");
            }
        });
    }

    function SaveTranslation() {
        if (jQuery.trim(jQuery('#tran_Music_category_name').val()).length > 0) {
            jQuery.post('/MusicCategory/TranMusicCategory'
                    , {
                        "row_id": jQuery('#tran_Music_category_row_id').val()
                        , "register_person": jQuery('#tran_Music_category_register_person').val()
                        , "register_datetime": jQuery('#tran_Music_category_register_datetime').val()
                        , "category_name": jQuery('#tran_Music_category_name').val()
                        , "Enable": jQuery('#tran_Music_category_enable').is(':checked')
                        , "language_id": jQuery('#language_row_id').val()
                        , "category_row_id": "@Model.row_id"
                    }
                   , function (data) {
                       var tblMusicCategory = jQuery("#tblMusicCategory");
                       tblMusicCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.category_name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblMusicCategory.append(t);
                       }

                       jQuery('#TranSlationDlg').modal('hide');
                   }
                   , "json");
        }
        else {
            jQuery('#tranMusicCategoryErrorMessage').show();

            jQuery('#tran_Music_category_name').keyup(function () { jQuery('#tranMusicCategoryErrorMessage').hide(); });
        }
    }

    function ShowDeleteTranslationDialog(langId) {
        jQuery("#delTranMusicCategoryLanguage").val(langId);

        jQuery('#DeleteTranslationDlg').modal('show');
    }

    function DeleteTranslation() {

        jQuery.post('/MusicCategory/DeleteTranMusicCategory'
                    , {
                        "catid": "@Model.row_id"
                        , "langId": jQuery('#delTranMusicCategoryLanguage').val()
                    }
                   , function (data) {
                       var tblMusicCategory = jQuery("#tblMusicCategory");
                       tblMusicCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.category_name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblMusicCategory.append(t);
                       }

                       jQuery('#DeleteTranslationDlg').modal('hide');
                   }
                   , "json");

    }
</script>
