﻿* {margin:0;padding:0}
img {border:0}
ul {list-style:none}
/*	-------------------------------------------------------------
	COMMON STYLES
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/	
.hidden {display:none}
.center {text-align:center}
.pad5-tb {padding:5px 0}
.pad10-tb {padding:10px 0}
.bold {font-weight:bold}
.hot {font-weight:bold;color:#ff730a}
.alert {color:#ff730a}
.clear {clear:both}
.clearfix {clear:both;overflow:hidden}
.frm dt {float:left}
.frm dd{float:left}

.pad5-tb {padding:5px 0}
.pad10-tb {padding:10px 0}
.pad5 {padding: 5px;}
.pad5-l {padding-left: 5px;}

a {text-decoration:none;color:#313031}
a.linkcolor {color: #f26522}
a.action {color:#2e8c00;font-weight:bold;margin-left:5px}
a:hover {color: #ff730a}
h2 {
    /**/
    border-top: 1px solid #b2b2b2;
    font-size:12px;
    font-weight:bold;
    /*color:#d10200;*/
    text-decoration:none;
   /* padding-top: 2px;*/
    height: 26px;
    /*padding-left:5px;*/
    background:url(../Images/heading_bg.gif) repeat-x;
}
h2 span{
	width:100%;
	height:26px;
	line-height:24px;
	display:block;
	/*background:url(../Images/bg_title_left.png) no-repeat right;*/
	color:#fff;
	margin: 0px 5px;
}
h2 img {
    vertical-align: middle;
}
h3 {font-size:12px;font-weight:bold;color:#004b97;padding-left:5px; padding-top:2px; background-color:#e3ecf1; height:auto;}
/*h1, h2 span {
    display: block;
    background: url(../Images/heading.gif) right 1px no-repeat;
    height: 22px;
}*/
.important {font-size:12px;font-weight:bold;margin:5px 0}
.important a {color:#004c9c}
/*	-------------------------------------------------------------
	APP STYLES
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

/*** Layout ***/
html{background-color: #fff;}
body {background:#fff;color:#313031;font-family:Tahoma,Arial,Georgia,Serif; font-size:13px; width: 40% !important; margin: auto; overflow: auto !important;}
#wrapper {background:#fff url(../Images/bg_heade.png) repeat-x; font:13px/20px Tahoma}

#mainmenu, #content, .c-item , .c-detail, .v-detail, .footer, .actions, .separator{float:left;width:100%}
#header {
	height: 48px;
	/*background:url(../Images/bg_heade_left.png) no-repeat top center;*/
	width: 100%;
}
/*** Header ***/

#header .left {
	vertical-align:middle;
	float:left;
	width:60%;
	height:48px;
}

#header .left a{
	background:url(../Images/bg_logo.png) no-repeat;
	height:23px;
	width:95px;
	float:left;
	margin:13px 0px 0px 10px;
}
#header .right {
	float:right;
	height:48px;
}
#header .right a{
	float:left;
	background:url(../Images/bg_right_h_a.png) no-repeat left;
	height:48px;
	padding:0px 15px;
	line-height:48px;
}
#header .right a.home span{
	background:url(../Images/bg_home.png) no-repeat center;
	width:18px;
	height:18px;
	display:block;
	overflow:hidden;
	margin-top:15px;
}
#header .right a.search span{
	background:url(../Images/bg_search.png) no-repeat center;
	width:18px;
	height:18px;
	display:block;
	overflow:hidden;
	margin-top:15px;
}

#banner {
    height: 95px;
    background-color: #f2f2f2;
}
/*** Footer ***/
#footer {
	background:url(../Images/footer_bg_1.png) repeat-x 0 0; 
	height:38px; 
}
#footer #footer_left{
	/*background:url(../Images/bg_footer_left.png) no-repeat top center;*/
	height:38px;
}
#footer .copyright{
	background-color: #f5f5f2;
	margin:0 auto;
	text-align:center;
}
#footer .copyright p{
	font-weight:bold;
}
#footer .right {padding-right:10px; text-align:right; vertical-align:middle}
#footer .left {padding-left:10px; color:#FFF; font-size:12px}
#footer a.home{
	float:left;
	margin:10px 0px 0px 10px;
	background:url(../Images/logo_bottom.png) no-repeat;
	width:63px;
	height:15px;
}
#footer a.back_top{
	float:right;
	margin-right:10px;
	margin-top:7px;
	background:url(../Images/bg_back_top.png) no-repeat scroll right 6px transparent;
	padding-right:15px;
}
/*** Content ***/
#content {background:#fff;}

/*** Form ***/
.msg {background:#ffcc00; color:#000; padding:3px 10px; clear:both}
a.button {
    font-size:12px;
    background:url(../Images/button.gif) no-repeat;
    color:#fff;
    font-weight: bold;
    height: 22px;
    width: 54px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;
}
input.button {font-size:12px; font-weight:bold; width:40px; height:20px; border:1px solid #2e5999; background:#3d70bb; color:#fff}
input.buttonHot {
    font-size:12px;
    background:url(../Images/buttonHot.GIF) no-repeat;
    color:#fff;
    font-weight: bold;
    height: 22px;
    width: 75px;
    display: block;
    float: left;
    text-align: left;
    margin-right: 10px;
}
input.submit {
    background: url("../Images/button.gif") no-repeat scroll 0 0 transparent;
    font-family:arial;
    color: #FFFFFF;
    border: 0;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 0;
    margin-right: 10px;
    text-align: center;
    width: 54px;
	height:22px;
}
input.submit:hover{
	cursor:pointer;
}
input.textbox {height:20px; border:1px solid #86a6b5}

/*** User bar ***/
#userbar {text-align:left;background-color:#f1f1f1;padding:2px 10px 0px 5px;font-size:12px; color:#000;}
#userbar a{
color: #ff730a;
font-weight: bold;
}
#userbar a.info {color: #333333;}
#userbar .left {float: left;}
#userbar .right {float: right;}
/*** Main menu ***/
#mainmenu {font-weight:bold;color:#333333; font-size:11px;background: url(../Images/menu_bg.png) repeat-x;height: 23px;}
#mainmenu td {font-weight:bold; color:#fff;padding:0 3px;height: 23px;}
#mainmenu td.active {font-weight:bold; color:#fff; height: 23px;padding:0;background: url(../Images/menu_active.png) repeat-x; line-height:23px;}
#mainmenu td a {color:#fff;padding: 0 6px 0px 3px;height: 23px; line-height:23px; background:url(../Images/bg_nav_a.png) no-repeat right; display:block;}
#mainmenu td .last{background-image: none !important;}
#mainmenu td.active a {color:#fff;height:23px; line-height:23px;}

/*** Hot news ***/
.hotnews {background:#d4d4d4; border-bottom:1px solid #87bada; padding:6px}
.hotnews .thumb {float:left; margin-right:10px; border:2px solid #fff}
.hotnews .title {vertical-align:middle; font-size:12px; font-weight:bold; color:#000}
.hotnews .title a {color:#000}
.hotnews .headline {color:#000}
.hotnews .more {text-align:right}
.hotnews .more a {color:#fff568}
.hotnews .alink {color:#2e8c00;}

/*** Channel List ***/
.c-list {}
.c-list .c-item {border-top:1px solid #9ec4dc; border-bottom:1px solid #d4e4ec; padding: 6px 0 2px 0}

.c-item .left {width:62px;padding-left:10px}
.c-item .right {padding-left:10px}
.c-item .title {vertical-align:middle; text-align:left; font-size:12px; font-weight:bold}
.c-item .subtitle {font-size:12px; text-align:left}

.c-thumb {}
.c-customize .c-thumb {margin-top:5px}

/*** Video List ***/
.v-list {background-color: #f5f5f2;}
.v-list .v-item {border-top:0px solid #cdcdcd; border-bottom:1px solid #cdcdcd; padding: 5px 0 2px 0}
.v-list .last {border: 0;}
.v-item .left {padding-left:5px; width:115px;}
a .v-item .left,
.v-item .left a{
	position:relative;
	display:block;
	margin-right:5px;
}
a .v-item .left span.duration,
.v-item .left a span.duration{
position: absolute;
line-height: 15px;
height: 15px;
display: block;
overflow: hidden;
color: #fff;
padding: 3px 3px;
/* border: 1px solid #ff730a; */
background: #ff730a;
/* border-radius: 3px; */
/* font-size: 10px; */
top: 6px;
left: 6px;
}
a .v-item .left img,
.v-item .left a img{
	width:115px;
	height:70px;
	border:1px solid #808080;
	padding:1px;
}

.v-item .right {padding-left:5px}
.v-item .title {vertical-align:middle; text-align:left; font-size:12px; font-weight:bold; display:block; margin-bottom:3px;}
.v-item .subtitle a,.v-item .subtitle span {font-size:12px; text-align:left;color:#808080; position:relative;}
.v-item .subtitle span img{
	float:left;
	margin-right:5px;
	top:4px;
	position:absolute;
}

.v-item .subtitle span a {
    background: url(../Images/icon_streaming.gif) no-repeat scroll left center transparent;
    padding-left: 15px;
}

/*** Menu List **
.m-list {}
.m-list .last {border: 0;}
.m-list .m-item {background:url(../Images/line.gif) repeat-x bottom; height:23px; padding-top:5px;}
.m-item .left {padding-left:8px; width:6px}
.m-item .right {padding-left:8px; font-size:12px}
*/
.m-list ul {font-size: 12px;}
.m-list ul .last {border: 0;}
.m-list li {
    background:url(../Images/list_icon.gif) no-repeat;
    background-position: 5px 8px;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.m-item .left {padding-left:8px; width:6px}
.m-item .right {padding-left:8px; font-size:12px}
.m-list .no-border-top {border-top: 0;}

.n-list ul {padding-bottom:24px}
.n-list ul li {border-bottom: 1px solid #dee2e6;height:23px; padding-top:5px}
.n-item .left {padding-left:8px; width:6px}
.n-item .right {padding-left:8px; font-size:12px}
.quicklink{color:#333333;font-weight:bold;}

/*** User list ***/
.u-list {}
.u-list .u-item {border-top:1px solid #9ec4dc; border-bottom:1px solid #d4e4ec; padding: 4px 0 2px 0}
.u-list .last {border-bottom:0}

.u-item .left {width:5px;padding-left:6px}
.u-item .right {padding-left:8px}
.u-item .title {vertical-align:middle;text-align:left; font-size:12px; font-weight:bold}
.u-item .subtitle {font-size:12px;text-align:left}

.paging {margin:5px 10px; color:#FF0000}
.paging li {display:inline}
.paging a {color:#FF0000}

.separator {float:left;width:100%; margin-bottom:5px;}

.cat li, .links li {padding:2px 10px}
.cat li a, .links li a {/*background:url(../Images/dot12.gif) no-repeat 0 0;*/padding-left:0}

.c-detail {line-height:1.4em; padding-left:10px; margin-top:10px}
.c-detail .left {width:60px}
.c-detail .right {padding-left:10px}
.c-detail .title {font-size:12px; color:#313031;}
.c-detail .live {font-size:12px; font-style:italic; padding-left:0}

.v-detail {line-height:1.4em;margin:8px 0 0;padding-left:8px}
.v-detail .left {width:104px}
.v-detail .left img {border:1px solid #d2d2d2;padding: 1px;}
.v-detail .right {padding-left:8px}

.actions { margin:5px 0; padding-left:10px }
#content .desc, #content p {padding-left:5px}

span.action {padding-left:5px; font-weight:bold}
span.action a {color:#f26522}

.s-list {padding:10px;}
.list {font-size:12px}
.list .live {color:#313031;font-weight:bold}
.list {border-spacing:1px;background:#559fc8}
.list th {background:#69b7de; border:0}
.list td {padding:4px 2px 0 2px; background:#c6dbe5}

#info ul {
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 10px;
}
#info ul li {
    background:url(../Images/list_icon.gif) no-repeat;
    padding-left: 15px;
    background-position: 3px 7px;
}

#other {
    background-color: #ffe9cf;
    height: 45px;
}
.lnk-download, .lnk-watch {padding-left:5px}
#searchbox {padding-left:4px;padding: 10px;}
#searchbox .textbox {width:50%}
#searchbox .submit-button {
    background: url("../Images/button.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    border: 0;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    text-align: center;
    width: 54px;
}

/* appended by huypv */
#last-featu#ff730a {padding-left:10px;}
#last-featu#ff730a a.ontop {font-weight:bold;color:#8E8E8E; font-family:arial;font-size:8pt;}
#last-featu#ff730a a.active {color:#D25600;}
.search-failed {padding-left:10px;color:#ff730a;}
.not-subscribed {background:#ffcc00; color:#000; padding:3px; clear:both}

.left10 {padding-left:10px;}
.#ff730a {color: #ff730a;}
.underline {text-decoration:underline; color:#FF0000}

/*** Quick link ***/
#quicklink {padding:6px}
#quicklink img {margin-top:2px}
#quicklink .inner {background:#69b7de; border:1px solid #559fc8}
#quicklink .left {padding-left:3px; width:16px}
#quicklink .right {padding-left:4px; font-weight:bold; vertical-align:middle}

/*** Section ***/
.section {padding:5px 10px; font-weight:bold; border-top:1px solid #9ec4dc; clear:both}
.section a {color:#0069a7}

.more-section {padding-right: 5px;height: 19px;padding-top: 1px;text-align:right; font-size:12px;background-color: #f2f2f2;}

.more-section a {padding-right: 12px;color:#FF0000;;background: url(../Images/more-icon.gif) no-repeat right 3px;}

.playlink {color: #ff730a;}
.subscribe {
    padding: 5px;
}
.account {padding: 5px;}
.account a {
    font-weight: bold;
    color: #ff730a;
}
.comment {
    background: url("../Images/line.gif") repeat-x scroll center bottom transparent;
    padding: 5px;
}
.pad-left10 {padding-left: 10px;}
.pad-left5 {padding-left: 5px;}
.price {
    font-weight: bold;
    color: #FF0000;
}
.detail {
    font-size: 12px;
    color: #333333;
}
.clip-detail {
    padding: 5px;
}
.clip-detail .duration {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    bottom: 8px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    right: 8px;
}
.clip-detail .link-thumb {
    position: relative;
}
.clip-detail .thumb {
    border: 1px solid #d4d4d4;
    padding: 2px;
}
a.action-link {
    color: #333333;
    font-weight: bold;
    padding-right: 2px;
}
a.action-link-sd {
    color: #000;
    font-weight: bold;
    padding-right: 2px;
	padding-left:20px;
}
.clip-info a.download{
	background:url(../Images/icon_download.gif) no-repeat left;
}
.clip-info a.streaming{
	background:url(../Images/icon_streaming_large.gif) no-repeat left;
}
.action {padding: 0px;margin: 0 0 5px;height: 22px;line-height: 22px;}
.middle {vertical-align: middle;}
.clip-info {
    padding-left: 5px;
}
.message {font-size: 12px;}

.keyword  a:hover {
    color: #D10200;
}
.keyword{
	padding-left:5px;
}
.keyword  a {
    color: black;
    font-style: normal;
    font-size: 13px;
}
.main-cat .no-border-top {
    border-top: none;
}
.main-cat li {
    padding: 3px 0px 0px 0px;
    border-top: 1px solid #ccc;
	background:#f5f5f2;
}
.menu{
	display:block;

}
.home-nav {
    float: right;
}
.home-nav li {
    display: inline;
    font-weight: bold;
    padding: 0 3px;
	color:#ff730a;
}
.home-nav li a {
    font-weight: bold;
    color: #000;    
}
.table-cat td a {
    color: #ff730a;
}
.table-cat td {
    padding: 3px;    
    font-weight: bold;
    text-align: center;
}
#userbar a.sub_link {
    color: #fff;
}
.sub_link {
    background-color: #ff730a;
    padding: 3px;
}
ul.main-cat li a{
	background:url(../Images/bg_cat_li_a.png) no-repeat left;
	padding-left:8px;
	margin-left:5px;
}
.searchbox .keyword span.hot{
	color:#ff730a;
}
img.google_analytics{
	width:1px;
	height:1px;
	display:block;
}
.v-item table .smartphone{
	width:100%;
}
.v-item table a.smartphone span.price{
	margin-left:20px;
}
.#ff730a {
    color: #ff730a;
}
span.text_link_top{
	margin:0px 0px 5px 5px;
	display:block;
}
span.text_link_top p{
	float:left;
	margin-right:10px;
}
.error{
	color:#ff730a;
}
ul.captcha {
	padding:10px;
	display:block;
	overflow:hidden;
}
ul.captcha li input.input{
	float:left;
	margin-right:5px;
	height:23px;
	width:80px;
}
ul.captcha li img{
	width:80px;
	height:25px;
}
a.registed_package_retail{
	display:block;
	padding:2px 0px 2px 5px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	color:#ff730a;
}
a.package_retail{
	display:block;
	padding:2px 0px 2px 5px;
}
.description{
	padding:10px 5px;
}
a.registed_pack_retail{
	font-weight:bold;
	margin-top:5px;
}
.box_package_retail{
	display:block;
	overflow:hidden;
	padding:3px 0px;
}
.box_package_retail a img.thumb{
	float:left;
	margin-right:10px;
	border: 1px solid #808080;
    height: 70px;
    padding: 1px;
    width: 115px;
}
span.des_pack{
	margin-bottom:10px;
	display:block;
}
span.package_retail{
	padding:0px 10px 5px 10px;
	display:block;
}
.referral_package{
	padding:0px 10px;
	margin:0px 0px 10px 0px;
}
.referral_package .detail_package{
	display:block;
	overflow:hidden;
	margin:10px 0px;
}
a.referral_service{
	display:block;
	overflow:hidden;
	font-weight:bold;
	height:25px;
	line-height:25px;
	padding-left:10px;
}
#show_popup{
	position:fixed;
	top:0px;
	text-align:center;
	margin:0 auto;
	background:url(../Images/bg_popup.png) repeat center;
	width:100%;
	padding:5px 0px;
	color:#000;
	z-index:1000;
}
#show_popup .content_popup{
	margin-bottom:5px;
}
#show_popup ul{
	width:100%;
}
#show_popup ul li{
	text-align:center;
	margin:0 auto;
	width:100%;
	display:block;
}
#show_popup a{
	color:#fff;
	background:#ff730a;
	padding:2px 5px;
	width:55px; 
	margin:0 auto;
	font-weight:bold;
}
#show_popup a.close_popup{
	background:url(../Images/bg_close_popup.png) no-repeat center;
	float:right;
	width:14px;
	height:14px;
	display:block;
}
.warn{
	color:#ff730a;
}
.box_popup{	
	text-align:center;
}
.box_popup .box_popup_top{
	background:#fff;
	padding:10px 10px;
}
.box_popup .box_popup_top .description{
	color:#231f20;
	font-size:16px;
}
.box_popup .box_popup_top .description span{
	color:#bb141a;
}
.box_popup .box_popup_top img{
	border:1px solid #dddedf;
	padding:2px;
	width:90%;
	margin:0 auto;

}
.box_popup .box_popup_bottom{
	background:url(../Images/bg_popup_bottom.png) repeat center;
	padding:10px 10px;
}
.box_popup .box_popup_bottom a{
	background:url(../Images/bg_registed_popup.png) repeat-x center;
	height:34px;
	line-height:34px;
	border-radius:5px;
	display:block;
	overflow:hidden;
	color:#fff;
	font-weight:bold;
	width:90%;
	text-align:center;
	margin:10px auto 0;
}
a#close_popup_sub{
	background:url(../Images/bg_close_popup.png) no-repeat center;
	width:15px;
	height:15px;
	float:right;
	display:block;
	margin:10px 10px 10px 0px;
}
.popup_confirm{
	text-align:center;
	margin:0px 0px 10px 0px;
	display:block;
	overflow:hidden;
}
.popup_confirm a.registed{
	margin:0 auto;
	text-align:center;
	float:none;
}
.vega_show_popup_one_avi{
	background:url(../Images/bg_tit_slide.png) repeat center;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	z-index:10000;
	opacity:1;
}
.vega_show_popup_one_avi .popup_content_one_avi{
	text-align:center;
	color:#000;
	width:80%;
	margin:0 auto;
	display:block;
	overflow:hidden;
	margin-top:50px;
	background:#f7f7f7;
	padding:10px;
	border:1px solid #f7f7f7;
	border-radius:5px;
}
.vega_show_popup_one_avi .popup_content_one_avi a.button{
	width:50%;
	text-align:center;
	float:left;
	margin:0;
	background:url(../Images/button.png) no-repeat center;
}
a.detail_honda{
	float: left;
	margin-right: 15px;
}
.breadcrumb ul li{
	float:left;
	padding:0px 8px 0px 4px;
	background:url(../Images/line_breadcrumb.png) no-repeat scroll right 10px rgba(0, 0, 0, 0)
}
.breadcrumb ul li.end{
	background:none;
}
.breadcrumb ul li a{
	color:#D22229;
	font-weight:bold;
}
.breadcrumb ul li a,
.breadcrumb ul li{
	font-size:11px;
}
.vega_show_popup_channel_ads{
	background: url(../Images/bg_duration.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.mask_vega_popup {
    background: url(../Images/bg_duration.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
}

.vega_show_popup_channel_ads .vega_content_popup {
    margin: 0 auto;
    max-width: 350px;
    position: relative;
    top: 20px;
    width: 90%;
    z-index: 99999;
	background:#fff;
	border-radius:5px;
	display:block;
	overflow:hidden;
}
.vega_show_popup_channel_ads .vega_content_popup h2.vega_title{
	background:#bf2327;
	border-radius:5px 5px 0px 0px;
	height:30px;
	line-height:30px;	
}
.vega_show_popup_channel_ads .vega_thumb_title img{
	width:100px;
	height:75px;
	float:left;
	margin:0px 10px 0px 0px;
}
.vega_show_popup_channel_ads .vega_thumb_title{
	margin:10px;
	width:calc(100% - 20px);
	border-bottom:1px solid #c6c6c6;
	padding:0px 0px 5px 0px;
	display:block;
	overflow:hidden;
}
.vega_show_popup_channel_ads .vega_thumb_title h3.vega_title{
	background:none;
	color:#c31b1b;
}
.vega_show_popup_channel_ads h2.vega_title a{
	width:30px;
	height:30px;
	background: url(../Images/bg_close_popup_channel.png) no-repeat center;
	float:left;
}
.vega_show_content p{text-align:center;}
.vega_show_content a.vega_confirm{
	    background: none repeat scroll 0 0 #c31b1b;
    border-radius: 4px;
    color: #fff;
    display: inline;
    height: 35px;
    line-height: 35px;
    margin: 3px;
    overflow: hidden;
    padding: 6px 20px;
    text-align: center;
    width: 115px;
}

/*Pagination*/
ul.yiiPager { font-size:12px; border:0; margin:0; float:right;}
ul.yiiPager li{display:inline;}
ul.yiiPager a:link,
ul.yiiPager a:visited{background: none;font-weight:bold;color:##D10200;padding:1px 6px;text-decoration:none;}
ul.yiiPager .page a{/*font-weight:normal;*/}
ul.yiiPager a:hover{/*border:solid 1px #0e509e;*/}
ul.yiiPager .selected a{/*background:#2e6ab1;*/color:#000;font-weight:bold;}
ul.yiiPager .hidden a{/*border:solid 1px #DEDEDE;*/color:#888888;}
ul.yiiPager .first,
ul.yiiPager .last{display:none;}


/*addition style*/
.ms-seen{background-image: url(../Images/icon_seen.png); background-repeat: no-repeat; padding-left: 17px;}
.ms-dur{background-image: url(../Images/icon_clock.gif); background-repeat: no-repeat; padding-left: 17px; padding-right: 10px}