body{
	background-color: #129900;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;


}
.container{
	width: 100%;
	overflow: auto;
}
#wrapper{
	width: 75%;
	margin: auto;
	background-color: transparent;
}
header{
	background-color: rgba(225,110,4,0.8);
	
}
header .menu{
	padding: 10px 20px;
	text-align: center;
}
header .menu span{
	padding: 0px 10px;
	border-right: 3px solid white;
}
header .menu span:last-child{
	border: none;
}
header .menu span span{
	border: none;
	padding: 0;

}
header .menu span a{
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: white;
}
header .menu span a:hover{
	color: #0281e4;
}
header .banner{
	width: 100%;
	height: 100px;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

.content{
	padding: 5px;
	position: relative;
	overflow: auto;
	background-color: white;
}
.content .left, .content .right, .content .middle{
	float: left;
}
.content .left, .content .right{
	width: 20%; 
	
}
.content .middle{
	width: 60%;
	overflow: auto;	
}
.panel{
	border: 1px solid orange;
	margin-bottom: 3px;
}
.panel .panel-header{
	background-color: orange;
	padding: 10px 5px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid white;
}
.panel .panel-content ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
.panel .panel-content ul li a{
	text-decoration: none;
	color: inherit;
}
.panel .panel-content ul li{
	padding: 10px;
	border-bottom: 1px solid orange;
	cursor: pointer;
	font-size: 12px;
	color: black !important;
}
.left .panel .panel-content ul li{
	background-image: url(../Images/orange-right-arr.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 180px;	
}
.left .panel .panel-content ul li:hover{
	color: white !important;
	background-color: orange;
	background-image: url(../Images/white-right-arr.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 180px;
}
.panel .panel-content ul li[class="last"]{
	border: none;
}
.right .panel .panel-header{
	border:none;
}
.right .panel .panel-content{
	max-height: 300px;
	overflow: auto;
}
.right .panel .panel-content img{
	display: block;
	margin: auto;
}
.right .panel .panel-content a{
	display: block;
}
.panel-content .dl{
	background-image: url(../Images/icon_download.png);
	padding-left: 20px;
	background-repeat: no-repeat;
	font-weight: bold;
}
.right .panel .panel-content ul li{
	text-align: center;
	cursor: default;
}
.right ::-webkit-scrollbar {
    width: 12px;
}
 
.right ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 106px rgba(241,241,241,1); 
}
 
.right ::-webkit-scrollbar-thumb {
    
    -webkit-box-shadow: inset 0 0 150px rgba(2,129,228,1); 
}
.panel-content ul li img{
	width: 140px;
	margin-bottom:5px;
	height: auto;
}
.middle .main-content{
	width: 99%;
	margin: auto;
}
.panel .panel-search{
	text-align: center;
	padding: 35px;
}
.panel-search label{
	font-size: 12px;
}
.panel-search input[type="text"]{
	width: 60%;
	padding: 5px;
	margin: 0px;	
}
.panel-search input[type="submit"]{
	outline: none;
	background-color: #0281e4;
	border: none;
	padding: 7px 10px;
	color: white;
	font-weight: bold;	
	cursor: pointer;
}
.main-panel{
	border: none;
}
.main-panel .panel-header{
	background-color: transparent;
	display: block;
	position: relative;
	overflow: auto;
	padding: 0px;
	border: none;
}
.main-panel .panel-header .title{
	padding: 10px;
	background-color: orange;
	float: left;
	color: white;
}
.main-panel .panel-header .title a{
	color: white;
	float: left;
	padding: 0px 20px;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
}
.main-panel .panel-header .title a:hover{
	color: #0281e4;
}
.main-panel .panel-header .title .divider{
	background-image: url(../Images/white-right-arr.png);
	background-size: 10px;
	width: 10px;
	float: left;
	background-position: 0px;
	background-repeat: no-repeat;
}
.main-panel .panel-content{
	border: 1px solid orange;
	overflow: auto;
	padding-bottom: 20px;
}
.main-panel .panel-content .item{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 11px;
	height: 187px;
}
.main-panel .panel-content .item img{
	width: 110px;
	margin: 5px 5px;
	padding: 5px 5px;
	border: 1px solid #ccb76e;
	height: 110px;
	margin-bottom: 0px;
	margin-top: 18px;

}
.main-panel .panel-content .item a{
	color: #0281e4;
	font-size: 12px;
	text-decoration: none;
	margin-top: 5px;
	display: block;
}
.pagination{
	margin-top: 20px;
	float: right;
	margin-right: 15px;
	font-size: 14px;
	display: block;
	text-align: right;
	width: 100%;
}
.pagination a{
	color: white;
	background-color: orange;
	padding: 5px 10px;
	text-decoration: none;
	font-weight: bold;
}
.pagination a[class="active"]{
	color: orange;
	background-color: transparent;
	cursor: default;
}
footer{
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: orange;
}
footer p{
	padding: 0px;
	margin: 0px;
}
/*///////////////IMAGE//////////////////*/
.image{
	background-image: url(../Images/background-image.jpg);
	background-size: cover;
}
/*///////////////VIDEO//////////////////*/
.video-panel{
	width: 95%;
	margin: auto;
	padding-top: 20px;
}
.video-header{
	width: 90%;
	padding: 10px 0px 0px 0px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #0281e4;
	text-transform: uppercase;
	margin: auto;
}
.video{
	background-image: url(../Images/background-video.jpg);
	background-size: cover;	
}
.video .main-panel .panel-content .item{
	width: 33.33%;
	position: relative;
}
.video .main-panel .panel-content .item img{
	display: block;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	padding: 0px;
	border: 2px solid orange;	
}
.video .vid-dur{
	padding: 5px 7px;
	background-color: black;
	color: white;
	border-radius: 5px;
	position: absolute;
	right: 15px;
	bottom: 60px;
	font-size: 9px;
	font-weight: bold;	
}
/*///////////////GAME//////////////////*/
.game{
	background-image: url(../Images/background-game.jpg);
	background-size: cover;
}
.game .icon-apple-b, .game .icon-apple-g, .game .icon-and-b, .game .icon-and-g, .game .icon-java-b, .game .icon-java-g{
	width: 30%;
	height: 20px;
	display: block;
	float: left;
	background-size: 20px;
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.game .icon-apple-b{
	background-image: url(../Images/icon-apple-b.png);
	background-position: right;
}
.game .icon-apple-g{
	background-image: url(../Images/icon-apple-g.png);
	background-position: right;
}
.game .icon-and-b{
	background-image: url(../Images/icon-and-b.png);
	background-position: 20px;
}
.game .icon-and-g{
	background-image: url(../Images/icon-and-g.png);
	background-position: 20px;
}
.game .icon-java-b{
	background-image: url(../Images/icon-phone-b.png);
	background-position: 14px;
}
.game .icon-java-g{
	background-image: url(../Images/icon-phone-g.png);
	background-position: 14px;
}
.game .content-left{
    width:50%;
    float:left;
    padding-top: 20px;
    text-align: center;
}
.game .content-left img{
    width: 90%;
    height: auto;
    margin: auto;
}
.game .content-right{
    width:45%;
    float:left;
    padding-top: 20px;
    padding-right: 10px;
}
.game .content-right .title{
    text-transform: uppercase;
font-weight: bold;
font-size: 17px;
color: #0281e4;
}
.game .content-bottom{
    width:95%;
    margin: auto;
    float:left;
    padding: 0px 10px;
    text-align: justify;
    margin-top: 20px;
}
.game .content-right table{
	width: 100%;
	font-size: 15px;
}
.game .content-right table td{

}
.game .content-right table td[class="tbtitle"]{
	width: 46%;
	color: #0281e4;
	font-weight: bold;
	font-size: 13px;
}
.game .content-right .icon-apple-b, .game .content-right .icon-and-b, .game .content-right .icon-java-b{
	display: block;
	width: 100%;
	padding-left: 20px;
	margin: 0px;
	background-position: top left;
	margin-top: 5px;

}
.game a{
	color: orange;
	font-weight: bold;	
	text-decoration: none;
}
.game .content-right .icon-apple-b{

}
.game .content-right .icon-and-b{

}
.game .content-right .icon-java-b{

}
/*///////////////MUSIC//////////////////*/
.music .game .content-right{
	width: 100%;
	display: block;
}
.music .game .content-right table tr{
	height: 30px;
}
.music .game .content-right table tr td{
	background-color: #fff !important;
}
.audiopanel{
	margin-top: 20px;
	text-align: center;
}
audio{
	width: 70%;
	margin: auto;
}
.music .content .left{
	width: 20%; 
	
}
.music .content .right{
	width: 25%
}
.music .content .middle{
	width: 55%;
	overflow: auto;	
}
.music .left .panel .panel-content ul li{
	background-image: url(../Images/orange-music-icon.png);
}
.music .left .panel .panel-content ul li:hover{
	background-image: url(../Images/white-music-icon.png);
}
.music .panel-content table{
	width: 100%;
	font-size: 13px;
	border: none;
}
.music .panel-content table tr:nth-child(even) {background: #F7F7F7}
.music .panel-content table tr:nth-child(odd) {background: #FFF}
.music .panel-content table thead tr{
	background-color: transparent !important; 
}
.music .panel-content table thead{
	color: #0281e4;
	font-weight: bold;
	background-color: #EBFCFF;
	padding: 5px 0px;
	border: none;
	line-height: 40px;
	text-align: center;
}
.music .panel-content table tbody tr{
	height: 50px;
}
.music .panel-content table .song-name{
	display: block;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
}
.music .panel-content table .song-artist{
	display: block;
	font-size: 11px;
	margin-left: 20px;
	color: #0281e4;
}
.song-listen{
	background-image: url(../Images/blue-play-icon.png);
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
	background-size: 20px;
	cursor: pointer;
}
.song-download{
	background-image: url(../Images/blue-download-icon.png);
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
	background-size: 20px;
	cursor: pointer;
}
.music .right .panel-content ul li{
	padding: 5px;
	text-align: left;
}.music .right .panel-content ul li:hover{
	background-color: #f7f7f7;
}
.music .right .panel-content ul li a .dl{
	background-image: url(../Images/blue-speaker-icon.png);	
	background-size: 15px;
	font-weight: normal;
	font-size: 11px;
}
.music{
	background-image: url(../Images/background-music.jpg);
	background-size: cover;
}

/*====================HOME=============================*/
.home{
	background-image: url(../Images/background-home.jpg);
	background-size: cover;
}
.home .music, .home .picture, .home .game, .home .video{
	background-image: none;
}
.home .left{
	
}
.home .middle{

}
.home .menu-panel{
	position: relative;
	overflow: auto;
	border: 1px solid orange;
	border-bottom: 0px;
	background-color: orange;
}
.home .menu-panel .menu-child-item{
	width: 24.86%;
	float: left;
	text-align: center;
	border-right: 1px solid white;
	padding: 10px 0px;
	color: white;
	background-color: orange;
	font-weight: bold;	
	cursor: pointer;
	border-bottom: 1px solid orange;
}
.home .menu-panel .menu-child-item:hover, .home .menu-panel .active-cls{
	color: orange;
	background-color: white;
	border-bottom: none;
}
.home .menu-panel .menu-child-item:last-child{
	border-right: 0px;
}
.home .toshow{
	border-bottom: none;
}
.home .tohide, .home .tohide .panel-conent{
	display: none;
	border-top: none;
}
.home .toshow, .home .toshow .panel-conent{
	display: block;
	border-top: none;
}