﻿@model WAP_CMS.Models.TBL_Music

@{
    ViewBag.Title = "Create Music";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Music Information</h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm("Create", "Music", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.name, new { @class = "span5" })
                                    </div>

                                    @Html.ValidationMessageFor(model => model.name)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable)
                                    </div>
                                </div>

                                @*<div class="form_row">
                                        <label class="field_name custom-field_name">
                                            @Html.LabelFor(model => model.producer)
                                        </label>

                                        <div class="field custom-field">
                                            @Html.TextBoxFor(model => model.producer, new { @class = "span5" })
                                        </div>
                                    </div>*@

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.short_description)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextAreaFor(model => model.short_description, new { style = "width: 100%; height: 100px" })
                                    </div>

                                    <div class="field custom-field">
                                        @Html.ValidationMessageFor(model => model.short_description)
                                    </div>
                                </div>





                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.music_file)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.music_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="music_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.music_file)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.amr_file)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.amr_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="amr_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.amr_file)
                                </div>
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.mmf_file)
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.mmf_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="mmf_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.mmf_file)
                                </div>



                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Create" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "Music")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>