﻿@model WAP_CMS.Models.TBL_Music

@{
    ViewBag.Title = "Edit music";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}
<link href="//vjs.zencdn.net/4.8/music-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.8/music.js"></script>
<script>
    musicjs.options.flash.swf = "music-js.swf";
</script>
<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>
                                @if (TempData["MESSAGE"] != null && TempData["MESSAGE"].ToString().Length > 0)
                                {
                                    <font style="color: red; font-weight: bold;">@TempData["MESSAGE"]</font>
                                }
                            </h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm("Edit", "Music", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.row_id)
                                @Html.HiddenFor(model => model.register_person)
                                @Html.HiddenFor(model => model.register_datetime)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        Category
                                    </label>

                                    <div class="field custom-field">

                                        @Html.CheckBoxListFor(model => model.PostedCategoryRowIds,
                                                              model => model.allCategories,
                                                              model => model.row_id,
                                                              model => model.category_name,
                                                              model => model.categories,
                                                              Position.Horizontal)

                                    </div>
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextBoxFor(model => model.name, new { @class = "span5" })
                                    </div>

                                    @Html.ValidationMessageFor(model => model.name)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable)
                                    </div>
                                </div>



                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.short_description)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.TextAreaFor(model => model.short_description, new { style = "width: 100%; height: 100px" })
                                    </div>

                                    <div class="field custom-field">
                                        @Html.ValidationMessageFor(model => model.short_description)
                                    </div>
                                </div>



                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.music_file)

                                        @Html.HiddenFor(model => model.music_file)
                                        
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.music_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="music_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.music_file))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.music_filePath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.music_file)
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.amr_file)

                                        @Html.HiddenFor(model => model.amr_file)
                                        
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.amr_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="amr_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.amr_file))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.amr_filePath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.amr_file)
                                </div>
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.mmf_file)

                                        @Html.HiddenFor(model => model.mmf_file)
                                        
                                    </label>

                                    <div class="field custom-field">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input span3">
                                                    <i class="icon-file fileupload-exists"></i>
                                                    <span class="fileupload-name fileupload-preview">
                                                        @Html.DisplayTextFor(model => model.mmf_file)
                                                    </span>
                                                </div>

                                                <span class="btn btn-file">
                                                    <span class="fileupload-new">Select file</span>
                                                    <span class="fileupload-exists">Change</span>
                                                    <input type="file" name="mmf_file" />
                                                </span>

                                                <a href="#" class="btn fileupload-exists red" data-dismiss="fileupload">Remove</a>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.mmf_file))
                                            {
                                                <a style="font-size: 20px; margin-left: 15px" href="@Model.mmf_filePath"><i class="icon-file"></i></a>
                                            }
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.music_file)
                                </div>
                                





                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Update" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "Music")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Translation</h5>

                            <div class="float_right" style="margin-top: 10px; margin-right: 5px">
                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id,0)" class="blue btn btn-small">
                                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                                    Add Translation
                                </a>
                            </div>
                        </div>

                        <div class="well-content no-search">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <td>Language</td>
                                        <td>Music</td>
                                        <td>Active</td>
                                        <td class="last-column">&nbsp;</td>
                                        <td class="last-column">&nbsp;</td>
                                    </tr>
                                </thead>

                                <tbody id="tblGameCategory">
                                    @foreach (var item in ViewBag.TranMusics)
                                    {
                                        <tr>
                                            <td>@item.language_name</td>
                                            <td width="26%">@item.name</td>

                                            <td class="action-column">
                                                @if (item.status == 1)
                                                {
                                                    @:Yes
                                                }
                                                else
                                                {
                                                    @:No
                                                }
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowTranslationDialog(@Model.row_id, @item.language_id)" class="grey btn action-btn">
                                                    <i class="icon-edit"></i> Edit
                                                </a>
                                            </td>

                                            <td class="action-column">
                                                <a href="#" onclick="ShowDeleteTranslationDialog(@item.language_id)" role="button" class="btn red delete-btn action-btn" data-toggle="modal">
                                                    <i class="icon-remove-sign"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteTranslationDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p>Are you sure want to delete this translation ?</p>

        <input type="hidden" id="delTranGameLanguage" />
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
        <input type="button" class="btn red" value="Yes" onclick="DeleteTranslation()" />
    </div>
</div>


<div id="TranSlationDlg" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3>Translation</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            @using (Html.BeginForm("TranMusic", "Music"))
            {
                <div class="span12" id="TranSlationFormContainer">
                    <div class="form_row">
                        <label class="field_name custom-field_name-for-large-area">
                            Language
                        </label>
                        <div class="field">
                            @Html.DropDownList("language_row_id", (SelectList)ViewBag.languages)
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">Close</a>
        <a href="#" onclick="SaveTranslation()" class="btn red">Save changes</a>
    </div>
</div>

<script type="text/javascript">
    function ShowTranslationDialog(id, langId) {
        jQuery.ajax({
            // Call EditPartialView action method
            url: "/Music/TranMusic",
            data: { musicid: id, lang: langId },
            type: 'Get',
            success: function (msg) {
                if (langId > 0) {
                    jQuery('#language_row_id').val(langId);
                }
                jQuery('.tran_music').remove();

                jQuery('#TranSlationFormContainer').append(msg);

                

                jQuery('#TranSlationDlg').modal('show');
            },
            error: function () {
                alert("Error occurs! Please try again or contact support for more information");
            }
        });
    }

    function SaveTranslation() {
        if (jQuery.trim(jQuery('#tran_music_name').val()).length > 0) {
            jQuery.post('/Music/TranMusic'
                    , {
                        "row_id": jQuery('#tran_music_row_id').val()
                        , "register_person": jQuery('#tran_music_register_person').val()
                        , "register_datetime": jQuery('#tran_music_register_datetime').val()
                        , "name": jQuery('#tran_music_name').val()
                        , "short_description": jQuery('#tran_music_short_description').val()
                        
                        , "Enable": jQuery('#tran_music_enable').is(':checked')
                        , "language_id": jQuery('#language_row_id').val()
                        , "music_row_id": "@Model.row_id"
                    }
                   , function (data) {
                       var tblGameCategory = jQuery("#tblGameCategory");
                       tblGameCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblGameCategory.append(t);
                       }

                       jQuery('#TranSlationDlg').modal('hide');
                   }
                   , "json");
        }
        else {
            if (jQuery.trim(jQuery('#tran_game_name').val()).length == 0) {
                jQuery('#tranGameErrorMessage').show();

                jQuery('#tran_game_name').keyup(function () { jQuery('#tranGameErrorMessage').hide(); });
            }


        }
    }

    function ShowDeleteTranslationDialog(langId) {
        jQuery("#delTranGameLanguage").val(langId);

        jQuery('#DeleteTranslationDlg').modal('show');
    }

    function DeleteTranslation() {

        jQuery.post('/Music/DeleteTranMusic'
                    , {
                        "musicid": "@Model.row_id"
                        , "langId": jQuery('#delTranGameLanguage').val()
                    }
                   , function (data) {
                       var tblGameCategory = jQuery("#tblGameCategory");
                       tblGameCategory.html('');
                       for (var i = 0; i < data.length; i++) {
                           var item = data[i];

                           var t = '<tr><td>' + item.language_name + '</td><td width="26%">' + item.name + '</td><td>' + ((item.status == 1) ? 'Yes' : 'No') + '</td>'

                                + '<td class="action-column"><a href="#" onclick="ShowTranslationDialog(@Model.row_id,' + item.language_id + ')" class="grey btn action-btn"><i class="icon-edit"></i> Edit</a></td>'

                                + '<td class="action-column"><a href="#" onclick="ShowDeleteTranslationDialog(' + item.language_id + ')" role="button" class="btn red delete-btn action-btn" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></td></tr>';

                           tblGameCategory.append(t);
                       }

                       jQuery('#DeleteTranslationDlg').modal('hide');
                   }
                   , "json");

    }
</script>
