﻿@model IEnumerable<WAP_CMS.Models.MusicMapping>

@{
    ViewBag.Title = "Music";
    var i = 1;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                @using (Html.BeginForm("Index", "Music", new { id = 0 })) {
                    @Html.DropDownList("MusicCategory", (SelectList)ViewBag.MusicCategory, new { onchange = "this.form.submit();", @class = "chosen" }) 
                }
            </div>

            <div class="float_right">
                <a href="@Url.Action("Create", "Music")" class="blue btn btn-xlarge">
                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                    New @ViewBag.Title
                </a>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>All record (total: @Model.Count())</h5>
                        </div>

                        <div class="well-content">
                            <div class="responsive_table_scroll">
                                <table class="table table-striped table-bordered table-hover datatable" width="100%">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>@Html.DisplayNameFor(model => model.Music.Name)</td>
                                            <td>@Html.DisplayNameFor(model => model.Music.View)</td>
                                            <td>@Html.DisplayNameFor(model => model.Music.Download)</td>
                                            <td>Action</td>
                                            <td class="last-column">&nbsp;</td>
                                            <td class="last-column">&nbsp;</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="no-column">@(i++)</td>
                                                <td width="26%">@Html.DisplayFor(modelItem => item.Music.Name)</td>
                                                <td width="12%">@Html.DisplayFor(modelItem => item.Music.View)</td>
                                                <td width="12%">@Html.DisplayFor(modelItem => item.Music.Download)</td>
                                            
                                                <td class="action-column">
                                                    <a href="@Url.Action("Details", "Music", new { id = item.Music.Id })" class="light_blue btn action-btn">
                                                        <i class="icon-reorder"></i> Details
                                                    </a>
                                                </td>

                                                <td class="action-column">
                                                    <a href="@Url.Action("Edit", "Music", new { id = item.Music.Id })" class="grey btn action-btn">
                                                        <i class="icon-edit"></i> Edit
                                                    </a>
                                                </td>

                                                <td class="action-column">
                                                    <a href="#static-delete" role="button" class="btn red delete-btn action-btn" data-toggle="modal" alt="@item.Music.Id">
                                                        <i class="icon-remove-sign"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="static-delete" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <form action="" method="post" id="delete-form">
        <div class="modal-body">
            <p>Would you like to remove this item?</p>
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">Cancel</a>
            <input type="submit" class="btn red" value="Confirm delete" />
        </div>
    </form>
</div>

@Scripts.Render("~/Scripts/jquery-1.11.1.min.js")

<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-btn").click(function () {
            var musicId = $(this).attr("alt");
            $("#delete-form").attr("action", "/Music/Delete/" + musicId);
        });

        $("#MusicCategory").val(@ViewBag.musicCategoryId);
        $("#MusicCategory").prepend("<option value='0'>All genres</option>");
    });
</script>