﻿@model IEnumerable<WAP_CMS.Models.TBL_Music>
@using WAP_CMS.Models;
@{
    ViewBag.Title = "Music";
    var i = 1;
    int catId = ViewBag.catId;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
            </div>
            <div class="float_right">

                <div class="span3 no-search">
                    <select class="chosen" onchange="dropdownChange(this)">
                        @{
                            if (catId == -1)
                            {
                                <option value="-1" selected="selected">All</option>
                            }
                            else
                            {
                                <option value="-1">All</option>
                            }

                            foreach (TBL_Music_Category cat in ViewBag.categories)
                            {
                                if (catId == cat.row_id)
                                {
                                    <option value="@cat.row_id" selected="selected">@cat.category_name</option>
                                }
                                else
                                {
                                    <option value="@cat.row_id">@cat.category_name</option>
                                }

                            }
                        }
                    </select>
                </div>

                <a href="@Url.Action("Create", "Music")" class="blue btn btn-xlarge">
                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                    New @ViewBag.Title
                </a>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>All record (total: @Model.Count())</h5>
                        </div>

                        <div class="well-content">
                            <div class="responsive_table_scroll">
                                <table class="table table-striped table-bordered table-hover datatable" width="100%">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>@Html.DisplayNameFor(model => model.name)</td>
                                            <td>Category</td>
                                            <td>@Html.DisplayNameFor(model => model.view)</td>
                                            <td>@Html.DisplayNameFor(model => model.download)</td>
                                            <td>@Html.DisplayNameFor(model => model.Enable)</td>
                                            <td>Action</td>
                                            @*<td class="last-column">&nbsp;</td>*@
                                            <td class="last-column">&nbsp;</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="no-column">@(i++)</td>
                                                <td width="26%">@Html.DisplayFor(modelItem => item.name)</td>
                                                <td width="10%">
                                                    @{
                                            var musicCat = item.categories;
                                            foreach (var cat in musicCat)
                                            {
                                                <a href="@Url.Action("Index", "Music", new {catId = cat.row_id })">@cat.category_name</a><br />
                                            }
                                                    }

                                                </td>
                                                <td width="10%">@Html.DisplayFor(modelItem => item.view)</td>
                                                <td width="10%">@Html.DisplayFor(modelItem => item.download)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Enable)</td>

                                                <td class="action-column">
                                                    <a href="@Url.Action("Edit", "Music", new { id = item.row_id })" class="grey btn action-btn">
                                                        <i class="icon-edit"></i> Edit
                                                    </a>
                                                </td>

                                                <td class="action-column">
                                                    <a href="#" onclick="ShowDeleteGameDlg(@item.row_id)" role="button" class="btn red delete-btn action-btn" data-toggle="modal">
                                                        <i class="icon-remove-sign"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DeleteGameDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @using (Html.BeginForm("Delete", "Music"))
    {
        <div class="modal-body">
            <p>Are you sure want to delete this music ?</p>

            <input type="hidden" name="id" id="id" />
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
            <input type="submit" class="btn red" value="Yes" />
        </div>
    }
</div>

<script type="text/javascript">
    @*window.onload = function () {
        var uri = '@ViewBag.catId';
        //  var c = uri.queryKey['catId'];
        alert(uri);
    };*@
    function dropdownChange(e) {
        console.log(e.value);
        if (e.value == "-1") {
            window.location.href = location.protocol + '//' + location.host + location.pathname;
        } else {
            window.location.href = location.protocol + '//' + location.host + location.pathname + '?catId=' + e.value;
        }
    }
    function ShowDeleteGameDlg(id) {
        jQuery("#id").val(id);

        jQuery('#DeleteGameDlg').modal('show');
    }
</script>