﻿/* Common */
.action-field {margin-left:18% !important;}
.custom-a-btn {width:40px;}
.custom-dropdown {padding-left:8px; width:95% !important;}
.custom-field {margin-left:18% !important;}
.custom-field_name {width:18% !important;}
.custom-field_name-for-large-area {width:18% !important;}
.custom-input-btn {width:60px !important;}
.field-validation-error {color:Red;}
.modal.fade.in {top:35%;}

/* Media details */
.detail-custom-field-name {margin-bottom:0px !important; padding-top:0px !important;}

/* Media index */
.action-btn {width:80%;}
.action-column {text-align:center !important; width:15%;}
.custom-icon-plus-sign {margin-right:4px !important;}
.last-column {border-left:none !important;}
.no-column {width:5%;}

/* Sign in */
.custom-forgot-password {float:left; margin:6px 0px 0px;}