﻿@{
    ViewBag.Title = "Trò chơi - DT";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Các dòng máy
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">Android</a></li>
                    <li><a href="#">Apple - IOS</a></li>
                    <li><a href="#">Java phone</a></li>
                    <li class="last"><a href="#">Điện thoại khác</a></li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                Thể loại game
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Tất cả</a></li>
                    <li><a href="#">Bắn súng</a></li>
                    <li><a href="#">Đi bàn</a></li>
                    <li><a href="#">Phiêu lưu</a></li>
                    <li><a href="#">Nhập vai</a></li>
                    <li><a href="#">Giải đố</a></li>
                    <li><a href="#">Thể thao</a></li>
                    <li><a href="#">Người lớn</a></li>
                    <li><a href="#">Theo lượt</a></li>
                    <li><a href="#">Xếp hình</a></li>
                    <li><a href="#">Online</a></li>
                    <li><a href="#">Trẻ em</a></li>
                    <li class="last"><a href="#">Khác</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">Trò chơi</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />
                    <input type="submit" value="tìm kiếm">
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        <a href="#">Trang chủ</a><div class="divider">&nbsp;</div>
                        <a href="#">Trò chơi</a><div class="divider">&nbsp;</div>
                        <a href="#">Tất cả</a>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="item"><img src="~/Assets/Upload/g6.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g1.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g2.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g4.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g5.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g7.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g8.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g9.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g12.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g11.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g5.jpg">This is a title<br /><span class="icon-apple-g"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g2.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g11.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-g"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g10.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-b"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="~/Assets/Upload/g4.jpg">This is a title<br /><span class="icon-apple-b"></span><span class="icon-and-b"></span><span class="icon-java-g"></span><a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Mới nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/g6.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g7.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g8.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g9.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/g10.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Tải nhiều nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="~/Assets/Upload/g1.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g2.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g3.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="~/Assets/Upload/g4.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="~/Assets/Upload/g5.jpg">This is a title<a href="@Url.Action("Index/1")"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>