﻿@{
ViewBag.Title = "Game - SMP ";
}

<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Trò chơi</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Game mới nhất</span></h2>
	<div class="v-list">
		<div class="v-item ">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Máy bay sắp cất cánh, hành khách “đòi” quay lại" src="../Assets/Upload/g2.jpg">
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">Dragon quest, game mô phỏng theo bộ truyện ăn khách</a>
						</div>
						<span class="icon-apple-b"></span>
						<span class="icon-and-b"></span>
						<span class="icon-java-b"></span>
						<div class="subtitle"> 
							<span class="ms-seen">
								15  Lượt tải về							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="v-item last">
			<table>
				<tr>
					<td class="left">
						<a href="detail.html">
							<img alt="Chú mèo Shironeko tiếp tục làm mưa làm gió trên internet " src="../Assets/Upload/g1.jpg">
							
						</a>
					</td>
					<td class="right">
						<div class="title"><a href="detail.html">After earth, sống sót ở trái đất ! </a>
						</div>
						<span class="icon-apple-b"></span>
						<span class="icon-and-b"></span>
						<span class="icon-java-b"></span>
						<div class="subtitle"> 
							<span class="ms-seen">
								0  lượt tải về							
							</span>
							<div class="clearfix"></div>
							<span>
								<a href="detail.html">(tải về/3000d)
								</a>
							</span>
						</div>
					</td>
				</tr>
			</table>	
		</div>
		</div>
		<div class="clearfix"></div>
		<ul class="home-nav">
			<li>1</li>
			<li><a href="category.html">2</a></li>
			<li><a href="category.html">3</a></li>
			<li><a href="category.html">4</a></li>
			<li><a href="category.html">5</a></li>
			<li><a href="category.html">Tiếp</a></li>
		</ul>


		<div class="menu">
			<div class="clearfix"></div>
			<h2><span>Chuyên mục con</span></h2>
			<div>
				<ul class="main-cat">
					<li class=" ">
						<a href="category.html"> 
							<b>Game chiến thuật</b>
						</a>
					</li>
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">
										<a href="detail.html">
											<img alt="Tác dụng không ngờ của dừa trong làm đẹp da" src="../Assets/Upload/g3.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="detail.html">Transformer III - Game chiến thuật đỉnh</a></div>
										<span class="icon-apple-b"></span>
										<span class="icon-and-b"></span>
										<span class="icon-java-b"></span>
										<div class="subtitle"> 
											<span class="ms-seen">
												87  lượt tải về							
											</span>
											<div class="clearfix"></div>
											<span>
												<a href="detail.html">(tải về/3000d)</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                               
					<li class=" ">
						<a href="category.html"> 
							<b>Game cổ điển</b>
						</a>
					</li>
					<div class="v-list">
						<div class="v-item last">
							<table>
								<tr>
									<td class="left">

										<a href="detail.html">
											<img alt="Girls Generation: Indestructible - bản ballad đầy ý nghĩa" src="../Assets/Upload/g5.jpg">
										</a>
									</td>
									<td class="right">
										<div class="title"><a href="detail.html">Tetris - Game xếp hình kinh điển</a></div>
										<span class="icon-apple-b"></span>
										<span class="icon-and-b"></span>
										<span class="icon-java-b"></span>
										<div class="subtitle"> 
											<div class=`"clearfix"></div>
											<span>
												<a href="detail.html">(tải về/3000d)
												</a>
											</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>                                
				</ul>
			</div>
		</div>
	</div>
</div>
