﻿@model IEnumerable<WAP_CMS.Models.TBL_Game_Category>
@{
    ViewBag.Title = "Game Category";
    var i = 1;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="float_right">
                <a href="@Url.Action("Create", "GameCategory")" class="blue btn btn-xlarge">
                    <i class="icon-plus-sign custom-icon-plus-sign"></i>
                    New @ViewBag.Title
                </a>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span12">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>All record (total: @Model.Count())</h5>
                        </div>

                        <div class="well-content">
                            <div class="responsive_table_scroll">
                                <table class="table table-striped table-bordered table-hover datatable" width="100%">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>@Html.DisplayNameFor(model => model.category_name)</td>
                                            <td>@Html.DisplayNameFor(model => model.totalGames)</td>
                                            <td>@Html.DisplayNameFor(model => model.Enable)</td>
                                            <td>Action</td>
                                            <td class="last-column">&nbsp;</td>
                                            <td class="last-column">&nbsp;</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="no-column">@(i++)</td>
                                                <td width="26%">@Html.DisplayFor(modelItem => item.category_name)</td>
                                                <td width="12%">@Html.DisplayFor(modelItem => item.totalGames)</td>
                                                <td width="12%">@Html.DisplayFor(modelItem => item.Enable)</td>
                                                <td class="action-column">
                                                    <a href="@Url.Action("Detail", "GameCategory", new { id = item.row_id })" class="light_blue btn action-btn">
                                                        <i class="icon-reorder"></i> Details
                                                    </a>
                                                </td>

                                                <td class="action-column">
                                                    <a href="@Url.Action("Edit", "GameCategory", new { id = item.row_id })" class="grey btn action-btn">
                                                        <i class="icon-edit"></i> Edit
                                                    </a>
                                                </td>

                                                <td class="action-column">
                                                    <a href="#" onclick="ShowDeleteCategoryDlg(@item.row_id)" role="button" class="btn red delete-btn action-btn" data-toggle="modal" alt="@item.row_id">
                                                        <i class="icon-remove-sign"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DeleteCategoryDlg" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    @using (Html.BeginForm("Delete", "GameCategory"))
    {
        <div class="modal-body">
            <p>Are you sure want to delete this category ?</p>

            <input type="hidden" name="id" id="id" />
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="btn grey">NO</a>
            <input type="submit" class="btn red" value="Yes" />
        </div>
    }
</div>

<script type="text/javascript">
    function ShowDeleteCategoryDlg(id) {        
        jQuery("#id").val(id);

        jQuery('#DeleteCategoryDlg').modal('show');
    }
</script>
