﻿@model   WAP_CMS.Models.TBL_Tran_Game_Category


<div class="form_row tran_category_name">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.category_name)
    </label>
    <div class="field">
        @Html.TextBoxFor(model => model.category_name, new { id = "tran_game_category_name", onkeydown="return (event.keyCode!=13);" })

        <span id="tranGameCategoryErrorMessage" style="color: red; display: none">You must translate category name</span>
    </div>
</div>

<div class="form_row tran_category_name">
    <label class="field_name custom-field_name-for-large-area">
        @Html.LabelFor(model => model.Enable)
    </label>

    <div class="field custom-field">
        @Html.CheckBoxFor(model => model.Enable, new { id = "tran_game_category_enable", @checked = true })

        @Html.HiddenFor(model => model.row_id, new { id = "tran_game_category_row_id"})
        @Html.HiddenFor(model => model.register_person, new { id = "tran_game_category_register_person"})
        @Html.HiddenFor(model => model.register_datetime, new { id = "tran_game_category_register_datetime"})
    </div>
</div>