﻿@{
    ViewBag.Title = "Picture detail - WAP ";
}

<div class="breadcrumb">
    <ul>
        <li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
    </ul>
</div>
<div class="clearfix" style="height:0;"></div>
<div id="searchbox">
    <div class="keyword">
        <span class="hot">Chủ đề HOT</span>:
        <a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>
        <a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span>
        <a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>
        <a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span>
        <a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
        <a href="category.html?keyword=5h">Tin nhanh Worldcup</a>
    </div>
</div>
<div class="clearfix"></div>
<div id="content">
    <div class="clearfix"></div>
    <h2><span><span>Hình ảnh mới nhất</span></span></h2>
    <div class="v-list">
        <div class="v-item ">
            <div class="image-panel">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/1.jpg">
                                
                            </td>
                        </tr>
                        <tr>
                            <td  style="text-align:left; text-indent: 10px;">
                               <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                               <b style="padding-left:10px;">Tên ảnh: </b>Đây là ảnh đẹp<br />
                                <b style="padding-left:10px;">Dung lương: </b>1TB<br />
                                <b style="padding-left:10px;">Chuyên mục: </b>Ảnh rất to<br />
                                <br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>    
    <h2><span><span>Cùng chủ đề</span></span></h2>
    <div class="v-list">
        <div class="v-item ">
            <div class="image-panel">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/6.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/7.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/8.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/9.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <ul class="home-nav">
        <li><a href="@Url.Action("Index/1","Picture")">1</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">2</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">3</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">4</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">5</a></li>
    </ul>
    <div class="clearfix"></div>
    <h2><span><span>Xem nhiều nhất</span></span></h2>
    <div class="v-list">
        <div class="v-item ">
            <div class="image-panel">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/g1.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/g2.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/g8.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Assets/upload/g9.jpg">
                                <a href="@Url.Action("Index/1","Picture")">Xem/Tải về</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <ul class="home-nav">
        <li><a href="@Url.Action("Index/1","Picture")">1</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">2</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">3</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">4</a></li>
        <li><a href="@Url.Action("Index/1","Picture")">5</a></li>
    </ul>





</div>