﻿@{
    ViewBag.Title = "Hình Ảnh - DT";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Chủ đề
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Ảnh thiên nhiên</a></li>
                    <li><a href="#">Cây cỏ hoa lá</a></li>
                    <li><a href="#">Điện thoại</a></li>
                    <li><a href="#">Phong cảnh đẹp</a></li>
                    <li><a href="#">Cờ các nước</a></li>
                    <li><a href="#">Non sông thanh bình</a></li>
                    <li><a href="#">Thư pháp</a></li>
                    <li><a href="#">12 cung hoàng đạo</a></li>
                    <li><a href="#">Hà Nội</a></li>
                    <li><a href="#">Tình yêu</a></li>
                    <li><a href="#">Park Shin Hye</a></li>
                    <li><a href="#">18+</a></li>
                    <li><a href="#">Kimono Nhật Bản</a></li>
                    <li><a href="#">Cosplay LOL</a></li>
                    <li class="last"><a href="#">Đường phố</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">Hình nền</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />
                    <input type="submit" value="tìm kiếm">
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        <a href="#">Trang chủ</a><div class="divider">&nbsp;</div>
                        <a href="#">Hình ảnh</a>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="item"><img src="Assets/Upload/6.jpg">This is a title <a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/7.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/1.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/4.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/5.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/7.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/8.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/9.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/11.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/9.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/11.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/10.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="item"><img src="Assets/Upload/4.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></div>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Mới nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="Assets/Upload/6.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/7.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/8.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/9.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="Assets/Upload/10.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Tải nhiều nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><img src="Assets/Upload/1.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/2.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/3.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li><img src="Assets/Upload/4.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                    <li class="last"><img src="Assets/Upload/5.jpg">This is a title<a href="#"><span class="dl">Xem/Tải về</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
