﻿@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_XSWapLayout.cshtml";
}

<p style="display: block; text-align: right; background-color: #FFA500; margin: 0px; padding: 10px">
    <a href="#" style="text-decoration:none; color: #000000">English</a>
</p>

@{
    if (ViewBag.Zone != null && ViewBag.Zone == 2)
    {
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSAG,
                         "Register", "XS",
                                 new { provinceid = 121 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBL,
                         "Register", "XS",
                                 new { provinceid = 91 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBT,
                         "Register", "XS",
                                 new { provinceid = 71 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBDI,
                         "Register", "XS",
                                   new { provinceid = 281 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBD,
                         "Register", "XS",
                                  new { provinceid = 11 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
        
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBP,
                         "Register", "XS",
                                   new { provinceid = 191 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSBTH,
                         "Register", "XS",
                                   new { provinceid = 101 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSCM,
                         "Register", "XS",
                                    new { provinceid = 151 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSCT,
                         "Register", "XS",
                                     new { provinceid = 51 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDL,
                         "Register", "XS",
                                      new { provinceid = 181 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDNA,
                         "Register", "XS",
                                       new { provinceid = 261 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDLK,
                         "Register", "XS",
                                        new { provinceid = 271 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDNO,
                         "Register", "XS",
                                         new { provinceid = 321 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDN,
                         "Register", "XS",
                                          new { provinceid = 41 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSDT,
                         "Register", "XS",
                                     new { provinceid = 141 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSGL,
                         "Register", "XS",
                                      new { provinceid = 221 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSHG,
                         "Register", "XS",
                                       new { provinceid = 231 }, new { @style = "text-decoration:none; color: #000000" })
        </p>

    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSKG,
                         "Register", "XS",
                                        new { provinceid = 171 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSKT,
                         "Register", "XS",
                                       new { provinceid = 211 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSLA,
                         "Register", "XS",
                                        new { provinceid = 201 }, new { @style = "text-decoration:none; color: #000000" })
        </p>

    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSNT,
                         "Register", "XS",
                                        new { provinceid = 241 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSPY,
                         "Register", "XS",
                                        new { provinceid = 291 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSQB,
                         "Register", "XS",
                                         new { provinceid = 341 }, new { @style = "text-decoration:none; color: #000000" })
        </p>

        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSQNA,
                         "Register", "XS",
                                         new { provinceid = 301 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSQNG,
                         "Register", "XS",
                                          new { provinceid = 311 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSQT,
                         "Register", "XS",
                                          new { provinceid = 351 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSST,
                         "Register", "XS",
                                           new { provinceid = 61 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSTN,
                         "Register", "XS",
                                           new { provinceid = 111 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSTTH,
                         "Register", "XS",
                                            new { provinceid = 331 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSTG,
                         "Register", "XS",
                                             new { provinceid = 161 }, new { @style = "text-decoration:none; color: #000000" })
        </p>

        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSHCM,
                         "Register", "XS",
                                             new { provinceid = 131 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSTV,
                         "Register", "XS",
                                              new { provinceid = 31 }, new { @style = "text-decoration:none; color: #000000" })
        </p>

        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSVL,
                         "Register", "XS",
                                              new { provinceid = 21 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    
        <p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
            @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSVT,
                         "Register", "XS",
                                               new { provinceid = 81 }, new { @style = "text-decoration:none; color: #000000" })
        </p>
    }
            
            
    else
    {
        
    }
}

