﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_XSWapLayout.cshtml";
}

<p style="display: block; text-align: right; background-color: #FFA500; margin: 0px; padding: 10px">
    <a href="#" style="text-decoration:none; color: #000000">English</a>
</p>

<p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
    @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSMB,
                 "Register", "XS",
                         new { provinceid = 1 }, new { @style = "text-decoration:none; color: #000000" })
</p>

<p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
    @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSMN,
                                 "Detail", "XS",
                         new { zone = 2 }, new { @style = "text-decoration:none; color: #000000" })
</p>

<p style="display: block; with: 100%; border-bottom:solid 1px #FFA500; margin: 0px; padding: 5px">
    @Html.ActionLink(ViewResource.XSStrings.REGISTER_XSMT,
                                  "Detail", "XS",
                                 new { zone = 3 }, new { @style = "text-decoration:none; color: #000000" })
</p>