﻿@model WAP_CMS.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>Password Information</h5>
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                
                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.CurrentPassword)
                                    </label>
                                    
                                    <div class="field custom-field">
                                        @if (@Model != null) {
                                            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "input-xlarge", value = @Model.CurrentPassword })
                                        }
                                        else {
                                            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "input-xlarge" })
                                        }

                                        <div>@Html.ValidationMessageFor(model => model.CurrentPassword)</div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.NewPassword)
                                    </label>

                                    <div class="field custom-field">
                                        @if (@Model != null) {
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "input-xlarge", value = @Model.NewPassword })
                                        }
                                        else {
                                            @Html.PasswordFor(model => model.NewPassword, new { @class = "input-xlarge" })
                                        }

                                        <div>@Html.ValidationMessageFor(model => model.NewPassword)</div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.ConfirmPassword)
                                    </label>

                                    <div class="field custom-field">
                                        @if (@Model != null) {
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-xlarge", value = @Model.ConfirmPassword })
                                        }
                                        else {
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-xlarge" })
                                        }

                                        <div>@Html.ValidationMessageFor(model => model.ConfirmPassword)</div>
                                    </div>
                                </div>

                                <div class="form_row">
                                    <div class="field action-field">
                                        <input type="submit" value="Save" class="blue btn custom-input-btn" />
                                        <a href="@Url.Action("Index", "Game")" class="red btn custom-a-btn">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>