﻿@model WAP_CMS.Models.TBL_Account

@{
    Layout = null;
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="~/Content/FlatPoint/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/css/stylesheet.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/icon/font-awesome.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" />
        
        <link rel="stylesheet" href="~/Content/Site.css" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <title>Signin</title>
    </head>

    <body class="blue-login">
        <div class="login-container">
            <div class="login-header bordered">
                <h4>Sign in</h4>
            </div>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                
                <div class="login-field">
                    @Html.LabelFor(model => model.username)
                    @Html.TextBoxFor(model => model.username)
                    <i class="icon-user"></i>
                    @Html.ValidationMessageFor(model => model.username)
                </div>

                <div class="login-field">
                    @Html.LabelFor(model => model.password)
                    
                    @if (@Model != null) {
                        @Html.PasswordFor(model => model.password, new { value = @Model.password })
                    }
                    else {
                        @Html.PasswordFor(model => model.password)
                    }

                    <i class="icon-lock"></i>
                    @Html.ValidationMessageFor(model => model.password)
                </div>

                <div class="login-button clearfix">

                    <button type="submit" class="pull-right btn btn-large blue">
                        SIGN IN <i class="icon-arrow-right"></i>
                    </button>
                </div>
            }
        </div>

        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery-ui-1.10.3.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/bootstrap.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.validate.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery.validate.unobtrusive.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.uniform.min.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.easytabs.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/excanvas.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.selection.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.orderBars.js"></script>
        
        
        
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.autosize-min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/charCount.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.minicolors.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.tagsinput.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/fullcalendar.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/footable/footable.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/footable/data-generator.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.inputmask.bundle.js"></script>
    </body>
</html>