﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BETA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="language" content="en">
    <meta http-equiv="expires" content="0">
    <meta content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=2.0" name="viewport">
    <meta content="240" name="MobileOptimized">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Content/@ViewBag.CSS" rel="stylesheet">
</head>
<body>
    <div id="container" class="@ViewBag.CSSClass">
        <div id="wrapper">
            @{Html.RenderAction("header","Home");}
            <div id="body content">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            @{Html.RenderAction("footer", "Home");}
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
