﻿@{ 
    WAP_CMS.Models.TBL_Account admin = (WAP_CMS.Models.TBL_Account)HttpContext.Current.Session["_ADMIN__"]; 
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="~/Content/FlatPoint/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/css/stylesheet.css" />
        <link rel="stylesheet" href="~/Content/FlatPoint/icon/font-awesome.css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" />
        
        <link rel="stylesheet" href="~/Content/Site.css" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <title>@ViewBag.Title</title>
    </head>

    <body>
        <header class="dark_grey">
            <a href="#" class="logo_image">
                <span class="hidden-480">CMS</span>
            </a>

            <ul class="header_actions">
                <li class="dropdown">
                    <a href="#">
                        <img src="~/Images/Administrator.png" alt="User image" class="avatar" />
                        <span style="min-width: 60px; display: inline-block">@admin.username</span>
                        <i class="icon-angle-down"></i>
                    </a>

                    <ul class="custom-dropdown">
                        <li>
                            <a href="@Url.Action("ChangePassword", "Account")">
                                <i class="icon-edit"></i>Change password
                            </a>
                        </li>
                    </ul>
                </li>

                <li rel="tooltip" data-placement="bottom">
                    <a href="@Url.Action("Signout", "Account")">
                        <i class="icon-signout"></i>
                        <span class="hidden-768 hidden-480">Sign out</span>
                    </a>
                </li>
            </ul>
        </header>

        <div id="main_navigation" class="dark_navigation">
            <div class="inner_navigation">
                <ul class="main">
                    <li class="active navAct">
                        <a href="@Url.Action("Index", "Game")" class="expand" id="current"><i class="icon-gamepad"></i>Game</a>
                        <ul class="sub_main">
                            <li><a href="@Url.Action("Index", "Game")">Game</a></li>
                            <li><a href="@Url.Action("Index", "GameCategory")">Game Category</a></li>
                        </ul>
                    </li>
                    <li class="active navAct">
                        <a href="@Url.Action("Index", "Video")" class="expand" id="current"><i class="icon-user-md"></i>Video</a>
                        <ul class="sub_main">
                            <li><a href="@Url.Action("Index", "Video")">Video</a></li>
                            <li><a href="@Url.Action("Index", "VideoCategory")">Video Category</a></li>
                        </ul>
                    </li>
                    <li class="active navAct">
                        <a href="@Url.Action("Index", "Photo")" class="expand" id="current"><i class="icon-picture"></i>Photo</a>
                        <ul class="sub_main">
                            <li><a href="@Url.Action("Index", "Photo")">Photo</a></li>
                            <li><a href="@Url.Action("Index", "PhotoCategory")">Photo Category</a></li>
                        </ul>
                    </li>
                    <li class="active navAct">
                        <a href="@Url.Action("Index", "Music")" class="expand" id="current"><i class="icon-music"></i>Music</a>
                        <ul class="sub_main">
                            <li><a href="@Url.Action("Index", "Music")">Music</a></li>
                            <li><a href="@Url.Action("Index", "MusicCategory")">Music Category</a></li>
                        </ul>
                    </li>
                    <li class="active navAct">
                        <a href="@Url.Action("Index", "Policy")" class="expand" id="current"><i class="icon-gift"></i>Policy</a>
                        <ul class="sub_main">
                            <li><a href="@Url.Action("Index", "Policy")">Policy</a></li>
                            
                        </ul>
                    </li>

                   
                </ul>
            </div>
        </div>
        
        @RenderBody()

        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.validate.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery.validate.unobtrusive.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/jquery-ui-1.10.3.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/bootstrap.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.collapsible.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.uniform.min.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.easytabs.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/excanvas.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.selection.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/flot/jquery.flot.orderBars.js"></script>
        
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.autosize-min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/charCount.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.minicolors.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.tagsinput.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/fullcalendar.min.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/footable/footable.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/footable/data-generator.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-timepicker.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-fileupload.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.inputmask.bundle.js"></script>

        
        <script type="text/javascript" src="~/Content/FlatPoint/js/datatables.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/jquery.dataTables.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrapSwitch.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-modal.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/bootstrap-modalmanager.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/flatpoint_core.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/library/editor/wysihtml5-0.3.0.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/library/editor/bootstrap-wysihtml5.js"></script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/forms_advanced.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".textarea").wysihtml5();

                $(".footable").footable();

                $(".responsive_table_container").mCustomScrollbar({
                    set_height: 400,
                    advanced: {
                        updateOnContentResize: true,
                        updateOnBrowserResize: true
                    }
                });

                $(".responsive_table_container_2").mCustomScrollbar({
                    set_height: 520,
                    advanced: {
                        updateOnContentResize: true,
                        updateOnBrowserResize: true
                    }
                });

                $(".inner_sidebar").easytabs({
                    animationSpeed: 300,
                    collapsible: false,
                    updateHash: false
                });
            });
        </script>

        <script type="text/javascript" src="~/Content/FlatPoint/js/calendar.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/forms.js"></script>
        <script type="text/javascript" src="~/Content/FlatPoint/js/dashboard.js"></script>
    </body>
</html>