﻿@{
ViewBag.Title = "Nhạc - DT";
}

<div class="content">
    <div class="left">
        <div class="panel">
            <div class="panel-header">
                Chủ đề
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Nhạc trẻ</a></li>
                    <li><a href="#">US - UK</a></li>
                    <li><a href="#">K-POP</a></li>
                    <li><a href="#">Nhạc cách mạng</a></li>
                    <li><a href="#">Nhạc tiền chiến / nhạc đỏ / nhạc bay</a></li>
                    <li class="last"><a href="#">Nhạc sàn</a></li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">
                Ca sĩ
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#">Girls Generation</a></li>
                    <li><a href="#">IU</a></li>
                    <li><a href="#">Mỹ Tâm</a></li>
                    <li><a href="#">Lê Cát Trọng Lý</a></li>
                    <li><a href="#">Lệ Rơi</a></li>
                    <li class="last"><a href="#">Super Junio</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="main-content">
            <div class="panel" style="margin-bottom: 3px;">
                <div class="panel-header">Nhạc</div>
                <div class="panel-search">
                    <label>Tìm kiếm</label>
                    <input type="text" />
                    <input type="submit" value="tìm kiếm">
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        <a href="#">Trang chủ</a><div class="divider">&nbsp;</div>
                        <a href="#">Nhạc</a><div class="divider">&nbsp;</div>
                        <a href="#">Indestructible</a>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="audiopanel">
                        <audio controls>
                            <source src="http://www.media.faza2music248.com/East%20Asian%20Tracks/GIRLS%20GENERATION%20-%20Indestructible%20[128].mp3" type="audio/ogg"/>
                            <source src="http://www.media.faza2music248.com/East%20Asian%20Tracks/GIRLS%20GENERATION%20-%20Indestructible%20[128].mp3" type="audio/mpeg"/>
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="game" style="background-image:none; width:95%; margin:auto;">
                        <div class="content-right">
                            <span class="title">Indestructible</span>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="tbtitle">Ca sĩ</td>
                                    <td>Girls Generation</td>
                                </tr>
                                <tr>
                                    <td class="tbtitle">Thể loại</td>
                                    <td>POP / Ballad</td>
                                </tr>
                                
                                <tr>
                                    <td class="tbtitle">Dung lượng</td>
                                    <td>800Kb</td>
                                </tr>
                                <tr>
                                    <td class="tbtitle">Tải xuống</td>
                                    <td>
                                        <a href="#">Indestructible.mp3</a>                                               
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tbtitle">Lời bài hát</td>
                                    <td>
                                        <a href="#">click để xem toàn bộ</a>                                               
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel main-panel">
                <div class="panel-header">
                    <div class="title">
                        Nhạc cùng thể loại
                    </div>
                </div>
                <div class="panel-content">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <td width="80%" align="left" style="padding-left:20px">Bài hát</td>
                                <td width="10%">Nghe</td>
                                <td>Tải</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="song-name">Indestructible</span><span class="song-artist">Girls Generation</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Lắng nghe nước mắt</span><span class="song-artist">Mr Siro</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Hà Nội đêm trở gió</span><span class="song-artist">Mỹ Linh</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Cho em</span><span class="song-artist">Thùy Chi - Wanbi Tuấn Anh</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Nơi tình yêu bắt đầu</span><span class="song-artist">Bằng Kiều</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Ngày yêu thương</span><span class="song-artist">VPOP Singers</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="song-name">Indestructible</span><span class="song-artist">Girls Generation</span>
                                </td>
                                <td>
                                    <a href="#"><span class="song-listen"></span></a>
                                </td>
                                <td>
                                    <a href="#"><span class="song-download"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        Trang:
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#" class="active">3</a>
                        <a href="#">4</a>
                        <a href="#">Cuối</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="panel">
            <div class="panel-header">
                Mới nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan Hương Ngọc Lan Hương Ngọc Lan Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li class="last"><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                </ul>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                Tải nhiều nhất
            </div>
            <div class="panel-content">
                <ul>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan Hương Ngọc Lan Hương Ngọc Lan Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                    <li class="last"><a href="#"><span class="dl">Hương Ngọc Lan</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
