﻿@{
ViewBag.Title = "Music - SMP ";
}

<div class="breadcrumb">
	<ul>
		<li class="end"><a href="index.html" title="TRANG CHỦ">Trang chủ</a></li>
		<li>></li>
		<li>Âm nhạc</li>
	</ul>
</div> 
<div class="clearfix" style="height:0;"></div>           
<div id="searchbox">
	<div class="keyword"> 
		<span class="hot">Chủ đề HOT</span>:  
		<a href="category.html?keyword=1">Đại học</a> <span style="font-size: 12px;">|</span>	   
		<a href="category.html?keyword=2">Biển đảo</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=3c">Điểm sàn khối A</a> <span style="font-size: 12px;">|</span>  
		<a href="category.html?keyword=4">Sức khỏe</a> <span style="font-size: 12px;">|</span> 
		<a href="category.html?keyword=5">Tiêm chủng</a> <span style="font-size: 12px;">|</span>
		<a href="category.html?keyword=5h">Tin nhanh Worldcup</a>     
	</div>
</div>
<div class="clearfix"></div>
<div id="content">
	<h2><span>Indestructible</span></h2>
	<div class="audiopanel">
		<audio controls>
			<source src="http://www.media.faza2music248.com/East%20Asian%20Tracks/GIRLS%20GENERATION%20-%20Indestructible%20[128].mp3" type="audio/ogg"/>
			<source src="http://www.media.faza2music248.com/East%20Asian%20Tracks/GIRLS%20GENERATION%20-%20Indestructible%20[128].mp3" type="audio/mpeg"/>
			Your browser does not support the audio element.
		</audio>
	</div>
	<div class="game" style="background-image:none; width:95%; margin:auto;">
		<div class="content-right">
		
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td class="tbtitle">Ca sĩ</td>
					<td>Girls Generation</td>
				</tr>
				<tr>
					<td class="tbtitle">Thể loại</td>
					<td>POP / Ballad</td>
				</tr>

				<tr>
					<td class="tbtitle">Dung lượng</td>
					<td>800Kb</td>
				</tr>
				<tr>
					<td class="tbtitle">Tải xuống</td>
					<td>
						<a href="#">Indestructible.mp3</a>                                               
					</td>
				</tr>
				<tr>
					<td class="tbtitle">Lời bài hát</td>
					<td>
						<a href="#">click để xem toàn bộ</a>                                               
					</td>
				</tr>
			</table>
		</div>
	</div>

	<h2><span>Có thể bạn muốn nghe</span></h2>
	<div class="v-list">
		<div class="v-item " style="padding:0px">
			<table class="table4music" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<td width="45%">Tên bài hát</td>
						<td width="40%">Ca sĩ</td>
						<td>nghe</td>
					</tr>
				</thead>
				<tbody>
					<tr onclick="location.href='#.html'">
						<td class="songname">Indestructable</td>
						<td class="artist">Girls Generation</td>
						<td>2824</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">River flow in you - live in Seoul</td>
						<td class="artist">Yiruma</td>
						<td>1102</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">Đồng xanh</td>
						<td class="artist">Vy Oanh</td>
						<td>0</td>
					</tr>
					<tr onclick="location.href='#.html'">
						<td class="songname">Nắng ấm xa dần</td>
						<td class="artist">Sơn Tùng M-TP</td>
						<td>11212</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="clearfix"></div>
		
	</div>
	
</div>