﻿@model WAP_CMS.Models.TBL_Video_Category
@{
    ViewBag.Title = "Edit Video Category";

    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                        </div>

                        <div class="well-content no-search">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)

                                <div class="form_row">
                                    <label class="field_name custom-field_name">
                                        @Html.LabelFor(model => model.category_name)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.Label(Model.category_name)
                                    </div>
                                </div>

                                <div class="form_row">
                                    <label class="field_name custom-field_name-for-large-area">
                                        @Html.LabelFor(model => model.Enable)
                                    </label>

                                    <div class="field custom-field">
                                        @Html.CheckBoxFor(model => model.Enable, new { disabled = "disabled" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well grey">
                        <div class="well-header">
                            <h5>Translation</h5>
                        </div>

                        <div class="well-content no-search">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <td>Language</td>
                                        <td>Category Name</td>
                                        <td style="text-align: center">Active</td>
                                    </tr>
                                </thead>

                                <tbody id="tblVideoCategory">
                                    @foreach (var item in ViewBag.TranVideoCategories)
                                    {
                                        <tr>
                                            <td>@item.language_name</td>
                                            <td width="26%">@item.category_name</td>

                                            <td class="action-column">
                                                @if (item.status == 1)
                                                {
                                                    @:Yes
                                                }
                                                else
                                                {
                                                    @:No
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>