﻿@model WAP_CMS.Models.Video

@{
    ViewBag.Title = "Video details";
}

<div id="content">
    <div class="inner_content">
        <div class="statistic clearfix">
            <div class="current_page float_left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        <div class="widgets_area">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well blue">
                        <div class="well-header">
                            <h5>Details</h5>
                        </div>

                        <div class="well-content no-search">
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.LastModified)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.LastModified)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Name)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.ShortDescription)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.ShortDescription)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.LongDescription)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.LongDescription)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Studio)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Studio)
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Duration)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Duration)
                                </div>
                            </div>
                              
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Year)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Year)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.View)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.View)
                                </div>
                            </div>
                                
                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.Download)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.Download)
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name-for-large-area detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.ImageURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.ImageURL)

                                    <div style="margin-top:5px;">
                                        <img src="@ViewBag.MediaSourcePath@Html.DisplayFor(model => model.ImageURL)" style="height:100px;" alt="@Html.DisplayFor(model => model.ImageURL)" />
                                    </div>
                                </div>
                            </div>

                            <div class="form_row">
                                <label class="field_name custom-field_name detail-custom-field-name">
                                    @Html.DisplayNameFor(model => model.SourceURL)
                                </label>
                                    
                                <div class="field custom-field">
                                    @Html.DisplayFor(model => model.SourceURL)
                                    @if (@Model.SourceURL != null) {
                                        @Html.DisplayFor(model => model.SizeString)
                                    }
                                </div>
                            </div>

                            <div class="form_row">
                                <div class="field action-field">
                                    <a href="@Url.Action("Edit", "Video", new { id = @Model.Id })" class="grey btn custom-a-btn">Edit</a>
                                    <a href="@Url.Action("Index", "Video")" class="red btn custom-a-btn">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>